<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="searchList.howToSearch"></h3>
    </div>
    <div class="modal-body">
        <p><span data-i18n="searchList.waysOfSearch"></span>:</p>
        <ul>
            <li data-i18n="searchList.normalSearch"></li>
            <li data-bind="visible: showCode" data-i18n="searchList.codeSearch"></li>
            <li data-bind="visible: showFields">
                <p data-i18n="searchList.fieldsSearch"></p>
                <p data-i18n="searchList.fieldsSearchYesNo"></p>
                <p><strong data-i18n="searchList.fieldNames"></strong>:</p>
                <ul>
                    <li><strong>location</strong> - <span data-i18n="library.location"></span></li>
                    <li><strong>owner</strong> - <span data-i18n="library.owner"></span></li>
                    <li><strong>storage</strong> - <span data-i18n="library.storage"></span></li>
                    <li><strong>stored</strong> - <span data-i18n="library.stored"></span></li>
                    <li><strong>storageLocation</strong> - <span data-i18n="library.storageLocation"></span></li>
                    <li>+ <span data-i18n="searchList.otherCustomFields"></span></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: close" data-i18n="common.ok"></button>
    </div>
</div>