<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="event.newEvent"></h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group well">
                <label for="enterName" data-i18n="common.name"></label>
                <input type="text" class="form-control" id="enterName" data-i18n="[placeholder]common.name" data-bind="value: name, valueUpdate: 'afterkeydown'" />
            </div>
            <div class="form-group well">
                <label for="enterLocation" data-i18n="common.location"></label>
                <input type="text" class="form-control" id="enterLocation" data-i18n="[placeholder]common.location" data-bind="value: location, valueUpdate: 'afterkeydown'" />
            </div>
            <div class="form-group well">
                <label for="enterVenue" data-i18n="event.venue"></label>
                <input type="text" class="form-control" id="enterVenue" data-i18n="[placeholder]event.venue" data-bind="value: venue, valueUpdate: 'afterkeydown'" />
            </div>
            <div class="form-group well">
                <label for="startDate" data-i18n="common.startNoun"></label>
                <div id="startDate" data-bind="dateTimePicker: {
                                            value: startDate,
                                            placeholderKey: 'common.start'
                                            }" ></div>
            </div>
            <div class="form-group well">
                <label for="endDate" data-i18n="common.end"></label>
                <div id="endDate" data-bind="dateTimePicker: {
                                            value: endDate,
                                            placeholderKey: 'common.end'
                                            }"></div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok, enable: canSubmit" data-i18n="common.ok"></button>
        <button class="btn " data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>