<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="event.newTournament"></h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group well">
                <label for="enterName" data-i18n="common.name"></label>
                <input type="text" class="form-control" id="enterName" data-i18n="[placeholder]common.enterName" data-bind="value: name, valueUpdate: 'afterkeydown'" />
            </div>
            <div class="form-group well">
                <label for="date" data-i18n="common.date"></label>
                <div id="date" data-bind="dateTimePicker: {
                                            value: date,
                                            placeholderKey: 'common.enterDate'
                                            }"></div>
            </div>
            <div class="form-group well">
                <label for="dropdown" data-i18n="event.tournamentType">></label>
                <select class="form-control" id="dropdown"
                        data-bind="options: types,
                                   optionsText: 'name',
                                   value: type">
                </select>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok, enable: canSubmit" data-i18n="common.ok"></button>
        <button class="btn " data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>