<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="event.pickParticipants"></h3>
    </div>


    <div class="modal-body">
        <h4 data-i18n="event.selectedParticipants"></h4>
        <!-- ko if: selectedParticipants().length > 0 -->
        <div data-bind="searchList: {
                        data: selectedParticipants(),
                        selectKey: 'common.remove',
                        selectCallback: removeParticipant,
                        searchById: true,
                        searchCustomFields: true,
                        showId: true,
                        idField: 'participantCode',
                        nameField: 'participantName'
                        }">
            <div data-part="item-template">
            </div>

        </div>
        <div class="form-group">
            <label for="addAsTeam" data-i18n="event.addAsTeam"/>
            <input type="checkbox" id="addAsTeam"  data-bind="switch: {value: addAsTeam, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}"/>
        </div>
        <div class="form-group" data-bind="if: addAsTeam">
            <label for="teamName" data-i18n="event.teamName"></label>
            <input type="text" class="form-control" id="teamName" data-i18n="[placeholder]event.enterTeamName" data-bind="value: teamName, valueUpdate: 'afterkeydown'" />
        </div>
        <!-- /ko -->
        <!-- ko if: selectedParticipants().length == 0 -->
        <span data-i18n="event.noSelectedParticipants"></span>
        <!-- /ko -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok" data-i18n="common.ok"></button>
        <button class="btn " data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
    <div class="modal-body">
        <h4 data-i18n="event.allParticipants"></h4>
        <!-- ko if: participants().length > 0 -->
        <div data-bind="searchList: {
                        data: participants(),
                        selectCallback: selectParticipant,
                        searchById: true,
                        searchCustomFields: true,
                        showId: true,
                        idField: 'participantCode',
                        nameField: 'participantName'
                        }">
            <div data-part="item-template">
            </div>

        </div>
        <!-- /ko -->
        <!-- ko if: participants().length == 0 -->
        <span data-i18n="event.noParticipantsToAdd"></span>
        <!-- /ko -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok" data-i18n="common.ok"></button>
        <button class="btn " data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>