<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="common.selectGame"></h3>
    </div>
    <div class="modal-body">
        <div class="form-group" data-bind="if: additionalFieldVisible">
            <label for="additionalField" data-bind="i18n: {key: additionalFieldTitleKey}"></label>
            <input type="text" class="form-control" id="additionalField" data-bind="value: additionalFieldValue, valueUpdate: 'afterkeydown', attr: {placeholder: additionalFieldPlaceholder}" />
        </div>
        <div data-bind="searchList: {
                        data: games(),
                        selectCallback: selectGame,
                        searchById: true,
                        searchCustomFields: true,
                        showId: true,
                        idOffset: 1000000000,
                        idField: 'code'
                        }">
            <div data-part="item-template">
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn " data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>