<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-bind="text: boxCode"></span> <small data-bind="text: name"></small></h1>
    </section>

    <div class="row">
        <div class="col-sm-12"><button type="button" data-bind="click: gotoBoxManagement" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="library.backToBoxManagement"></span></button></div>
    </div>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- info -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingInfo" data-toggle="collapse" href="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
                <h4 class="panel-title">
                    <a class="pull-right" data-bind="click: saveBoxItem, clickBubble: false">
                        <i data-bind="tooltip: {placement:'left', titleKey:'common.save'}" class="fa fa-save fa-border"></i>
                    </a>
                    <a>
                        <span data-i18n="common.info" />
                    </a>
                </h4>
            </div>
            <div id="collapseInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingInfo">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group"  data-bind="visible: newBox">
                            <label for="boxName" data-i18n="library.boxName"></label>
                            <input type="text" class="form-control" id="boxName" data-i18n="[placeholder]library.enterBoxName" data-bind="value: boxCode, valueUpdate:'keyup'">
                        </div>
                        <div class="form-group">
                            <label for="boxLocation" data-i18n="library.boxLocation"></label>
                            <input type="text" class="form-control" id="boxLocation" data-i18n="[placeholder]library.enterBoxLocation" data-bind="value: boxLocation">
                        </div>
                        <div class="form-group">
                            <label for="comment" data-i18n="common.comment"></label>
                            <input type="text" class="form-control" id="comment" data-i18n="[placeholder]common.enterComment" data-bind="value: comment">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end info -->
        <!-- Games -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingGames" data-toggle="collapse" href="#collapseGames" aria-expanded="true" aria-controls="collapseGames">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="library.gamesInBox" />
                    </a>
                </h4>
            </div>
            <div id="collapseGames" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingGames">
                <div class="panel-body">
                    <!-- ko if: newBox -->
                    <span data-i18n="event.saveBoxToEnable"></span>
                    <!-- /ko -->
                    <!-- ko if: !newBox() && boxGames().length > 0 -->
                    <div data-bind="searchList: {
                        data: boxGames(),
                        selectCallback: unpackGame,
                        searchById: true,
                        searchCustomFields: true,
                        showId: true,
                        idOffset: 1000000000,
                        selectKey: 'library.unpackGame',
                        itemCount: 10
                        }">
                        <div data-part="item-template">
                            <div class="row">
                                <div class="col-xs-6"><span data-i18n="library.owner"></span>: <strong data-bind="text: data.owner" /></div>
                            </div>
                        </div>

                    </div>
                    <!-- /ko -->
                    <!-- ko if: !newBox() && boxGames().length == 0 -->
                    <span data-i18n="library.noGamesPackedInBox"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end Games -->
        <!-- Unpacked games -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingUnpackedGames" data-toggle="collapse" href="#collapseUnpackedGames" aria-expanded="true" aria-controls="collapseUnpackedGames">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="library.unpackedGamesFromBox" />
                    </a>
                </h4>
            </div>
            <div id="collapseUnpackedGames" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingUnpackedGames">
                <div class="panel-body">
                    <!-- ko if: newBox -->
                    <span data-i18n="event.saveBoxToEnable"></span>
                    <!-- /ko -->
                    <!-- ko if: !newBox() && unpackedGames().length > 0 -->
                    <div data-bind="searchList: {
                        data: unpackedGames(),
                        selectCallback: packGame,
                        searchById: true,
                        searchCustomFields: true,
                        showId: true,
                        idOffset: 1000000000,
                        selectKey: unpackedGameSelectKey(),
                        itemCount: 10
                        }">
                        <div data-part="item-template">
                            <div class="row">
                                <div class="col-xs-6"><span data-i18n="library.owner"></span>: <strong data-bind="text: data.owner" /></div>
                            </div>
                        </div>

                    </div>
                    <!-- /ko -->
                    <!-- ko if: !newBox() && unpackedGames().length == 0 -->
                    <span data-i18n="library.noGamesUnpackedFromBox"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end Unpacked games -->
        <!-- Not in box games -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNotInBoxGames" data-toggle="collapse" href="#collapseNotInBoxGames" aria-expanded="true" aria-controls="collapseNotInBoxGames">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="library.notInBoxGames" />
                    </a>
                </h4>
            </div>
            <div id="collapseNotInBoxGames" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingNotInBoxGames">
                <div class="panel-body">
                    <!-- ko if: newBox -->
                    <span data-i18n="event.saveBoxToEnable"></span>
                    <!-- /ko -->
                    <!-- ko if: !newBox() && notInBoxGames().length > 0 -->
                    <div data-bind="searchList: {
                        data: notInBoxGames(),
                        selectCallback: packNewGame,
                        searchById: true,
                        searchCustomFields: true,
                        showId: true,
                        idOffset: 1000000000,
                        selectKey: 'library.packGame',
                        itemCount: 10,
                        searchString: notInBoxFilter
                        }">
                        <div data-part="item-template">
                            <div class="row">
                                <div class="col-xs-6"><span data-i18n="library.owner"></span>: <strong data-bind="text: data.owner" /></div>
                                <div class="col-xs-6" data-bind="if: data.box">
                                    <span data-i18n="library.box"></span>:
                                    <!-- ko if: data.box -->
                                    <strong data-bind="text: data.box, visible: data.box" />
                                    <span data-bind="if: data.isBoxed, tooltip: {placement: 'top', titleKey: 'library.gameBoxed'}"><i class="fa fa-suitcase"></i></span>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /ko -->
                    <!-- ko if: !newBox() && notInBoxGames().length == 0 -->
                    <span data-i18n="library.noGamesNotInBox"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end Not in box games games -->

    </div> <!-- end panel group -->

</section>