<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="event.boxes"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div class="row">
        <div class="col-sm-6"><button type="button" data-bind="click: addNewBox" class="options btn btn-primary" ><i class="fa fa-file"></i> <span data-i18n="library.addNewBox"></span></button></div>
        <div class="col-sm-6"><button type="button" data-bind="click: gotoLibrary" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="library.backToLibrary"></span></button></div>
    </div>

    <div data-bind="searchList: {
                        data: boxes(),
                        selectCallback: selectBox,
                        nameField: 'code',
                        idField: 'code'
                        }">
        <div data-part="item-template">
            <div class="row">
                <div class="col-xs-6">
                    <span data-i18n="common.location"></span>: <strong data-bind="text: data.location" />
                </div>
            </div>
        </div>

    </div>

</section>