<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="event.library"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div class="row">
        <div class="col-sm-4"><button type="button" data-bind="click: uncheckAll" class="options btn btn-primary" ><span data-i18n="library.uncheckAll"></span></button></div>
    </div>

    <div data-bind="searchList: {
                        data: games(),
                        selectCallback: selectGame,
                        searchById: true,
                        searchCustomFields: true,
                        showId: true,
                        idOffset: 1000000000,
                        idField: 'code'
                        }">
        <div data-part="item-template">
            <div class="row">
                <div class="col-xs-6"><span data-i18n="library.owner"></span>: <strong data-bind="text: data.owner" /></div>
            </div>
        </div>

    </div>
</section>