<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="event.participants"></span> <small data-bind="text: name"></small></h1>
    </section>

    <div class="row">
        <div class="col-sm-6"><button type="button" data-bind="click: gotoEventAdmin" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.goToEventAdmin"></span></button></div>
        <div class="col-sm-6"><button type="button" data-bind="click: gotoNametags" class="options btn btn-primary" ><i class="fa fa-tag"></i> <span data-i18n="event.generateNametags"></span></button></div>
    </div>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- participants -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingParticipants" data-toggle="collapse" href="#collapseParticipants" aria-expanded="true" aria-controls="collapseParticipants">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="event.eventParticipants" />
                    </a>
                </h4>
            </div>
            <div id="collapseParticipants" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingParticipants">
                <div class="panel-body">
                    <!-- ko if: participants().length > 0 -->
                    <div data-bind="searchList: {
                        data: participants(),
                        selectCallback: removeParticipant,
                        selectKey: 'event.removeParticipant',
                        searchById: true,
                        showId: true,
                        idField: 'code'
                        }">

                        <div data-part="item-template">
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: participants().length == 0 -->
                    <span data-i18n="event.eventHasNoParticipants"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end Participants -->
        <!-- Other participants -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOtherParticipants" data-toggle="collapse" href="#collapseOtherParticipants" aria-expanded="true" aria-controls="collapseOtherParticipants">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="event.otherParticipants" />
                    </a>
                </h4>
            </div>
            <div id="collapseOtherParticipants" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOtherParticipants">
                <div class="panel-body">
                    <!-- ko if: otherParticipants().length > 0 -->
                    <div data-bind="searchList: {
                        data: otherParticipants(),
                        selectCallback: addParticipant,
                        selectKey: 'event.addParticipant',
                        itemCount: 10,
                        searchById: true,
                        showId: true,
                        idField: 'code'
                        }">
                        <div data-part="item-template">
                        </div>

                    </div>
                    <!-- /ko -->
                    <!-- ko if: otherParticipants().length == 0 -->
                    <span data-i18n="event.noOtherParticipants"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end Other participants -->
    </div> <!-- end panel group -->

</section>