<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="event.manageEvent"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div class="row">
        <div class="col-sm-12"><button type="button" data-bind="click: gotoEventsList" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.goToEventsList"></span></button></div>
    </div>
    <div class="row">
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'scorer.seeAllMatches', action: viewMatches}">
            <div data-part="content">
                <h3 data-i18n="scorer.matches"></h3>
            </div>
        </div>
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'event.showParticipants', action: showParticipants}">
            <div data-part="content">
                <h3 data-i18n="event.participants"></h3>
            </div>
        </div>
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'event.showTournaments', action: showTournaments}">
            <div data-part="content">
                <h3 data-i18n="event.tournaments"></h3>
            </div>
        </div>
    </div>
</section>