<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="event.events"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div class="row">
        <div class="col-sm-6"><button type="button" data-bind="click: addEventDialog" class="options btn btn-primary" ><i class="fa fa-file"></i> <span data-i18n="event.addEvent"></span></button></div>
        <div class="col-sm-6"><button type="button" data-bind="click: gotoAdministration" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.goToAdminPanel"></span></button></div>
    </div>
    <div class="row">
        <div data-bind="foreach: events">
            <div class="col-sm-6" data-bind="hub: {actionTextKey: 'event.manageEvent', action: $root.manageEvent, data: $data}">
                <div data-part="content">
                    <h3 data-bind="text: data.name"></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-2  col-xs-4" data-bind="hub: {action: addEventDialog}">
            <div data-part="content" class="addItem">
                <i class="fa fa-plus fa-2x"></i>
            </div>
        </div>
    </div>
</section>