<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="event.library"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div class="row">
        <div class="col-sm-4"><button type="button" data-bind="click: addNewItem" class="options btn btn-primary" ><i class="fa fa-file"></i> <span data-i18n="common.addNewItem"></span></button></div>
        <div class="col-sm-4"><button type="button" data-bind="click: gotoBoxManagement" class="options btn btn-primary" ><i class="fa fa-suitcase"></i> <span data-i18n="event.boxManagement"></span></button></div>
        <div class="col-sm-4"><button type="button" data-bind="click: gotoAdministration" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.goToAdminPanel"></span></button></div>
    </div>

    <div data-bind="searchList: {
                        data: games(),
                        selectCallback: selectGame,
                        searchById: true,
                        searchCustomFields: true,
                        showId: true,
                        idOffset: 1000000000,
                        idField: 'code'
                        }">
        <div data-part="item-template">
            <div class="row">
                <div class="col-xs-6"><span data-i18n="library.owner"></span>: <strong data-bind="text: data.owner" /></div>
                <div class="col-xs-6">
                    <span data-i18n="library.location"></span>:
                    <!-- ko if: !data.isBoxed -->
                    <strong data-bind="text: data.location" />
                    <!-- /ko -->
                    <span id="test" data-bind="if: data.isBoxed, tooltip: {placement: 'top', titleKey: 'library.gameBoxed'}">
                        <i class="fa fa-suitcase"></i>
                        (<span data-bind="text: data.boxLocation" />)
                    </span>

                </div>
                <div class="col-xs-12" data-bind="if: data.box">
                    <span data-i18n="library.box"></span>:
                    <!-- ko if: data.box -->
                    <strong data-bind="text: data.box, visible: data.box" />
                     <span data-bind="if: data.isBoxed, tooltip: {placement: 'top', titleKey: 'library.gameBoxed'}"><i class="fa fa-suitcase"></i></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>

    </div>
</section>