<section class="module container-fluid">
    <section class="page-header">
        <h1><i class="fa fa-suitcase pull-right" data-bind="visible: isBoxed"></i><span data-bind="text: name"></span> <small data-bind="text: festivalName"></small></h1>
    </section>

    <div class="row">
        <div class="col-sm-6"><button type="button" data-bind="click: saveAndBack" class="options btn btn-primary" ><i class="fa fa-save"></i> <span data-i18n="common.save"></span></button></div>
        <div class="col-sm-6"><button type="button" data-bind="click: gotoLibrary" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="library.backToLibrary"></span></button></div>
    </div>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- info -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingInfo" data-toggle="collapse" href="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
                <h4 class="panel-title">
                    <a class="pull-right" data-bind="click: save, clickBubble: false">
                        <i data-bind="tooltip: {placement:'left', titleKey:'common.save'}" class="fa fa-save fa-border"></i>
                    </a>
                    <a>
                        <span data-i18n="common.info" />
                    </a>
                </h4>
            </div>
            <div id="collapseInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingInfo">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="name" data-i18n="common.name"></label>
                            <input type="text" class="form-control" id="name" data-i18n="[placeholder]common.enterName" data-bind="value: name, valueUpdate: 'keyup'">
                        </div>
                        <div class="form-group">
                            <label for="code" data-i18n="library.code"></label>
                            <input type="text" class="form-control" id="code" data-i18n="[placeholder]library.enterCode" data-bind="disable: !isNew(), value: code">
                        </div>
                        <div class="form-group">
                            <label for="owner" data-i18n="library.owner"></label>
                            <input type="text" class="form-control" id="owner" data-i18n="[placeholder]common.enterName" data-bind="value: owner">
                        </div>
                        <div class="form-group">
                            <label for="comment" data-i18n="common.comment"></label>
                            <input type="text" class="form-control" id="comment" data-i18n="[placeholder]common.enterComment" data-bind="value: comment">
                        </div>
                        <div class="form-group">
                            <label for="ownedByOrganizer" data-i18n="library.ownedByOrganizer"/>
                            <input type="checkbox" id="ownedByOrganizer"  data-bind="switch: {value: ownedByOrganizer, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}"/>
                        </div>
                        <div class="form-group" data-bind="if: !ownedByOrganizer()">
                            <label for="event" data-i18n="event.event"></label>
                            <select class="form-control" id="event"
                                    data-bind="options: events,
                                   optionsText: 'name',
                                   optionsValue: '_id',
                                   value: eventId,
                                   optionsCaption: selectEventCaption">
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end info -->
        <!-- Location -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingLocation" data-toggle="collapse" href="#collapseLocation" aria-expanded="true" aria-controls="collapseLocation">
                <h4 class="panel-title">
                    <a class="pull-right" data-bind="click: save, clickBubble: false">
                        <i data-bind="tooltip: {placement:'left', titleKey:'common.save'}" class="fa fa-save fa-border"></i>
                    </a>
                    <a>
                        <span data-i18n="library.location" />
                    </a>
                </h4>
            </div>
            <div id="collapseLocation" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingLocation">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="isBoxed" data-i18n="library.boxed"/>
                        <input type="checkbox" id="isBoxed"  data-bind="switch: {value: isBoxed, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}"/>
                    </div>
                    <form role="form">
                        <div class="form-group" data-bind="visible: !isBoxed()">
                            <label for="location" data-i18n="library.location"></label>
                            <input type="text" class="form-control" id="location" data-i18n="[placeholder]library.enterGameLocation" data-bind="value: location">
                        </div>
                        <div data-bind="if: isBoxed">
                            <div class="form-group">
                                <label for="box" data-i18n="library.box"></label>
                                <select class="form-control" id="box"
                                        data-bind="options: boxes,
                                   optionsText: 'code',
                                   value: box,
                                   optionsCaption: boxOptionsCaption">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="boxLocation" data-i18n="library.boxLocation"></label>
                                <input type="text" class="form-control" id="boxLocation" data-i18n="[placeholder]library.enterBoxLocation" data-bind="value: boxLocation" disabled>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end Location -->

    </div> <!-- end panel group -->

</section>