<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-bind="text: name"></span> <small data-bind="text: festivalName"></small></h1>
    </section>

    <div class="row">
        <div class="col-sm-12"><button type="button" data-bind="click: gotoTournaments" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.backToTournaments"></span></button></div>
    </div>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- info -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingInfo" data-toggle="collapse" href="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="common.info" />
                    </a>
                </h4>
            </div>
            <div id="collapseInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingInfo">
                <div class="panel-body row">
                    <div class="col-xs-12 col-sm-6" data-bind="editableField: {
                                        icon: 'fa-calendar',
                                        titleKey: 'common.date',
                                        placeholderKey: 'common.enterDate',
                                        onSave: $root.changeDate.bind($root),
                                        value: date
                                    }"></div>


                </div>
            </div>
        </div>
        <!-- end info -->
        <!-- participants -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingParticipants" data-toggle="collapse" href="#collapseParticipants" aria-expanded="true" aria-controls="collapseParticipants">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="event.participants" />
                    </a>
                </h4>
            </div>
            <div id="collapseParticipants" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingParticipants">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3"><button type="button" data-bind="click: addParticipants" class="options btn btn-primary" ><i class="fa fa-plus"></i> <span data-i18n="event.addParticipants"></span></button></div>
                        <div class="col-sm-3"><button type="button" data-bind="click: calculateStandings" class="options btn btn-primary" ><span data-i18n="event.calculateStandings"></span></button></div>
                    </div>
                    <!-- ko if: participants().length == 0 -->
                    <span data-i18n="event.noParticipantsInTournament"></span>
                    <!-- /ko -->
                    <!-- ko if: participants().length > 0 -->
                    <table id="ranking" class="table table-striped">
                        <thead>
                            <tr class="firstHeader">
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Total points</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: participants -->
                            <tr style="font-weight: bold">
                                <td data-bind="text: $index()+1"></td>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: $data.totalPoints ? $data.totalPoints : ''"></td>
                                <td><button class="btn btn-danger btn-sm" data-bind="click: $root.removeParticipant.bind($root)"><i class="fa fa-times"></i></button></td>
                            </tr>
                            <!-- ko foreach: scores -->
                            <tr>
                                <td></td>
                                <td data-bind="text: gameName"></td>
                                <td data-bind="text: bestPoints"></td>
                                <td></td>
                            </tr>
                            <!-- /ko -->

                            <!-- /ko-->
                        </tbody>
                    </table>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end participants -->
        <!-- games -->
        <!-- ko panel: {
                            buttons: [
                                {
                                     columnClass: 'col-sm-3',
                                     click: $root.addGame.bind($root),
                                     titleKey: 'scorer.addGame'
                                 }
                            ]
                       }-->

        <a data-part="header-text">
            <span data-i18n="scorer.games"/></span>
        </a>
        <div data-part="body">
            <!-- ko with: $root -->
            <!-- ko if: games().length == 0 -->
            <span data-i18n="event.noGamesInMarathon"></span>
            <!-- /ko -->
            <!-- ko if: games().length > 0 -->
            <table id="games" class="table table-striped">
                <thead>
                <tr class="firstHeader">
                    <th>Game</th>
                    <th>Weight</th>
                    <th></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: games">
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: weight"></td>
                    <td><button class="btn btn-danger btn-sm" data-bind="click: $root.removeGame.bind($root)"><i class="fa fa-times"></i></button></td>
                </tr>
                </tbody>
            </table>
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- end playedInYear -->


    </div> <!-- end panel group -->

</section>