`<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="scorer.matches"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div class="row">
        <div class="col-sm-4"><button type="button" data-bind="click: addNew" class="options btn btn-primary" ><i class="fa fa-file"></i> <span data-i18n="event.newMatch"></span></button></div>
        <div class="col-sm-4"><button type="button" data-bind="click: gotoEventAdmin" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.goToEventAdmin"></span></button></div>
        <div class="col-sm-4"><button type="button" data-bind="click: gotoMatchStats" class="options btn btn-primary" ><span data-i18n="scorer.viewStats"></span></button></div>
    </div>
    <div class="row" data-bind="foreach: matches">
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'scorer.viewMatch', action: $root.viewMatch, data: $data}">
            <div data-part="content">
                <h3><span data-bind="text: data.game"></span> <small data-bind="text: data.displayDate"></small></h3>
                <!-- ko if: data.winner -->
                <span data-bind="i18n: {key:'scorer.winnerIs', options: {winner: data.winner}}"></span>
                <!-- /ko -->
                <!-- ko if: !data.winner -->
                <em data-i18n="scorer.noWinner"></em>
                <!-- /ko -->
            </div>
        </div>
    </div>
</section>