`<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="event.matchStats"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div class="row">
        <div class="col-sm-12"><button type="button" data-bind="click: gotoMatches" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.goToMatches"></span></button></div>
    </div>
    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- ko panel: {}-->
        <a data-part="header-text">
            Overview
        </a>
        <div data-part="body" class="row">
            <!-- ko with: $root -->
            <div class="col-xs-12">Different games played: <span data-bind="text:totalGames" style="font-weight: bold"></span></div>
            <div class="col-xs-12">Total matches played: <span data-bind="text:totalMatches" style="font-weight: bold"></span></div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko panel: {
            buttons: [
                {
                     click: sortByGames.bind($root),
                     titleKey: 'event.sortByGames'
                 },
                 {
                     click: sortByPlayers.bind($root),
                     titleKey: 'event.sortByPlayers'
                 }
            ]
        }-->
        <a data-part="header-text">
            Players stats
        </a>
        <div data-part="body" class="row">
            <!-- ko with: $root -->
            <table id="ranking" class="table table-striped">
                <thead>
                <tr class="firstHeader">
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Total different games</th>
                    <th>Total different players</th>
                    <th>Show players</th>
                    <th>Show games</th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: playersStats -->
                <tr>
                    <td data-bind="text: $index()+1" style="font-weight: bold"></td>
                    <td data-bind="text: name" style="font-weight: bold"></td>
                    <td data-bind="text: totalGames"></td>
                    <td data-bind="text: totalPlayers"></td>
                    <td><button class="btn btn-sm" data-bind="click: $root.showPlayers.bind($root)"><i class="fa fa-users"></i></button></td>
                    <td><button class="btn btn-sm" data-bind="click: $root.showGames.bind($root)"><i class="fa fa-gamepad"></i></button></td>
                </tr>
                <!-- ko if: !playersHidden()-->
                    <!--ko foreach: players -->
                    <tr>
                        <td></td>
                        <td data-bind="text: name"></td>
                        <td data-bind="text: count"  style="font-weight: bold"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: !gamesHidden() -->
                    <!--ko foreach: games -->
                    <tr>
                        <td></td>
                        <td data-bind="text: name"></td>
                        <td data-bind="text: count"  style="font-weight: bold"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- /ko-->
                </tbody>
            </table>
            <!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko panel: {}-->
        <a data-part="header-text">
            Game stats
        </a>
        <div data-part="body" class="row">
            <!-- ko with: $root -->
            <table class="table table-striped">
                <thead>
                <tr class="firstHeader">
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Total number of plays</th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: gameStats -->
                <tr>
                    <td data-bind="text: $index()+1"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: numberOfPlays" style="font-weight: bold"></td>
                </tr>
                <!-- /ko-->
                </tbody>
            </table>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</section>