<section class="module container-fluid">
    <section class="page-header">
        <h1>Name tags</h1>
    </section>

    <div data-bind="pdf: {document: document}" style="height:100%; width:100%"></div>
    <div id="testBC"></div>
</section>