<section class="module container-fluid">
    <style>
        #save_btn {
            margin-bottom: 15px;
        }
    </style>

    <section class="page-header">
        <h1><span data-i18n="event.newMatch"></span> <small data-bind="text: eventName"></small></h1>
    </section>

    <h2 class="form-inline">
        <span data-i18n="common.date"></span>: <strong data-bind="text: dateString"></strong>
        <small data-bind="if: date() != null"><a data-bind="click: resetDate" data-i18n="common.change"></a></small>
    </h2>
    <!-- ko if: date() == null -->
    <div data-bind="dateTimePicker: {
                        value: date,
                        placeholderKey: 'common.enterDate',
                        options: {
                            showTodayButton: true,
                            useCurrent: false
                        }
                    }" ></div>
    <!-- /ko -->
    <!-- ko if: date() != null -->
    <h2>
        <span data-i18n="common.game"></span>: <!-- ko if: chosenGame() != null --><strong data-bind="text: chosenGame().name"></strong><!-- /ko -->
        <small data-bind="if: chosenGame() != null"><a data-bind="click: resetGame" data-i18n="common.change"></a></small>
    </h2>
    <!-- ko if: chosenGame() == null -->
    <div data-bind="searchList: {
                        data: games(),
                        selectCallback: selectGame,
                        searchById: true,
                        searchCustomFields: true,
                        showId: true,
                        idOffset: 1000000000,
                        idField: 'code'
                        }">

    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: chosenGame() != null && date() != null -->
    <h2><span data-i18n="scorer.players"></span>:</h2>
    <div data-bind="scoreTable: {
                        players: players,
                        selectKey: 'common.remove',
                        selectCallback: removePlayer,
                        selectContext: $root,
                        nameField: 'participantName'
                    }"></div>
    <!-- ko if: players().length > 0 -->
    <button id="save_btn" type="button" class="btn btn-success pull-right" data-bind="click: saveMatch" data-i18n="scorer.saveMatch"></button>
    <!-- /ko -->
    <div data-bind="searchList: {
                        data: participants(),
                        selectCallback: selectParticipant,
                        searchById: true,
                        showId: true,
                        idField: 'participantCode',
                        nameField: 'participantName'
                        }"></div>
    <!-- /ko -->

</section>