<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-bind="text: participantName"></span> <small data-bind="text: name"></small></h1>
    </section>

    <div class="row">
        <div class="col-sm-6"><button type="button" data-bind="click: saveAndBack" class="options btn btn-primary" ><i class="fa fa-save"></i> <span data-i18n="common.save"></span></button></div>
        <div class="col-sm-6"><button type="button" data-bind="click: gotoParticipants" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.goToParticipants"></span></button></div>
    </div>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- info -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingInfo" data-toggle="collapse" href="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
                <h4 class="panel-title">
                    <a class="pull-right" data-bind="click: saveParticipant, clickBubble: false">
                        <i data-bind="tooltip: {placement:'left', titleKey:'common.save'}" class="fa fa-save fa-border"></i>
                    </a>
                    <a>
                        <span data-i18n="common.info" />
                    </a>
                </h4>
            </div>
            <div id="collapseInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingInfo">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="name" data-i18n="common.name"></label>
                            <input type="text" class="form-control" id="name" data-i18n="[placeholder]common.enterName" data-bind="value: participantName, valueUpdate:'keyup'">
                        </div>
                        <div class="form-group">
                            <label for="shortName" data-i18n="event.shortName"></label>
                            <input type="text" class="form-control" id="shortName" data-i18n="[placeholder]event.enterShortName" data-bind="value: participantShortName, valueUpdate:'keyup'">
                        </div>
                        <div class="form-group">
                            <label for="country" data-i18n="common.country"></label>
                            <select class="form-control" id="country"
                                    data-bind="options: countries,
                                   optionsText: 'name',
                                   optionsValue: 'code',
                                   optionsCaption: countriesCaption,
                                   value: country">
                            </select>
                        </div>
                        <div class="form-group" >
                            <label for="code" data-i18n="library.code"></label>
                            <input type="text" class="form-control" id="code" data-i18n="[placeholder]library.enterCode" data-bind="disable: !newParticipant(), value: code">
                        </div>
                        <div class="form-group">
                            <label for="email" data-i18n="common.email"></label>
                            <input type="text" class="form-control" id="email" data-i18n="[placeholder]signUp.enterEmail" data-bind="value: email">
                        </div>
                        <div class="form-group">
                            <label for="username" data-i18n="login.username"></label>
                            <input type="text" class="form-control" id="username" data-i18n="[placeholder]login.enterUsername" data-bind="value: username">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end info -->
        <!-- Events -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEvents" data-toggle="collapse" href="#collapseEvents" aria-expanded="true" aria-controls="collapseEvents">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="event.participatesInEvents" />
                    </a>
                </h4>
            </div>
            <div id="collapseEvents" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEvents">
                <div class="panel-body">
                    <!-- ko if: newParticipant -->
                        <span data-i18n="event.saveParticipantToEnable"></span>
                    <!-- /ko -->
                    <!-- ko if: participantEvents().length > 0 && !newParticipant() -->
                    <div data-bind="searchList: {
                        data: participantEvents(),
                        selectCallback: removeFromEvent,
                        selectKey: 'event.removeFromEvent',
                        itemCount: 10
                        }">
                        <div data-part="item-template">
                        </div>

                    </div>
                    <!-- /ko -->
                    <!-- ko if: participantEvents().length == 0 && !newParticipant() -->
                    <span data-i18n="event.noParticipationInEvents"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end Events -->
        <!-- Other events -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOtherEvents" data-toggle="collapse" href="#collapseOtherEvents" aria-expanded="true" aria-controls="collapseOtherEvents">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="event.notParticipatesInEvents" />
                    </a>
                </h4>
            </div>
            <div id="collapseOtherEvents" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOtherEvents">
                <div class="panel-body">
                    <!-- ko if: newParticipant -->
                    <span data-i18n="event.saveParticipantToEnable"></span>
                    <!-- /ko -->
                    <!-- ko if: otherEvents().length > 0 && !newParticipant() -->
                    <div data-bind="searchList: {
                        data: otherEvents(),
                        selectCallback: addToEvent,
                        selectKey: 'event.addToEvent',
                        itemCount: 10
                        }">
                        <div data-part="item-template">
                        </div>

                    </div>
                    <!-- /ko -->
                    <!-- ko if: otherEvents().length == 0 && !newParticipant() -->
                    <span data-i18n="event.noNoParticipationInEvents"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end Other events -->
    </div> <!-- end panel group -->

</section>