<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="event.participants"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div class="row">
        <div class="col-sm-6"><button type="button" data-bind="click: addParticipant" class="options btn btn-primary" ><i class="fa fa-file"></i> <span data-i18n="event.addParticipant"></span></button></div>
        <div class="col-sm-6"><button type="button" data-bind="click: gotoAdministration" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.goToAdminPanel"></span></button></div>
    </div>
    <div data-bind="searchList: {
                        data: participants(),
                        selectCallback: select,
                        searchById: true,
                        showId: true,
                        idOffset: 100,
                        idField: 'code'
                        }">

        <div data-part="item-template">
            <!-- ko if: data.private -->
            <div class="row">
                <div class="col-xs-6"><span data-i18n="common.email"></span>: <strong data-bind="text: data.private.email" /></div>
            </div>
            <!--/ko -->
        </div>
    </div>
</section>