<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-bind="text: name"></span> <small data-bind="text: festivalName"></small></h1>
    </section>

    <div class="row">
        <div class="col-sm-12"><button type="button" data-bind="click: gotoTournaments" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.backToTournaments"></span></button></div>
    </div>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- info -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingInfo" data-toggle="collapse" href="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="common.info" />
                    </a>
                </h4>
            </div>
            <div id="collapseInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingInfo">
                <div class="panel-body">
                    <p>
                        <i class="fa fa-calendar iconcolor" style="margin-right: 10px"></i>
                        <span data-i18n="common.date"></span>:
                        <strong data-bind="text: dateFromNow"></strong>
                        <small><a data-i18n="common.change" data-bind="click: changeDate"></a></small>
                    </p>
                    <p>
                        <i class="fa fa-gamepad iconcolor" style="margin-right: 10px"></i>
                        <span data-i18n="common.game"></span>:
                        <strong data-bind="text: game"></strong>
                        <!-- ko if: !game() -->
                        <strong data-i18n="common.noGameSelected"></strong>
                        <!-- /ko -->
                        <small><a data-i18n="common.change" data-bind="click: changeGame"></a></small>
                    </p>

                </div>
            </div>
        </div>
        <!-- end info -->
        <!-- participants -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingParticipants" data-toggle="collapse" href="#collapseParticipants" aria-expanded="true" aria-controls="collapseParticipants">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="event.participants" />
                    </a>
                </h4>
            </div>
            <div id="collapseParticipants" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingParticipants">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3"><button type="button" data-bind="click: addParticipants" class="options btn btn-primary" ><i class="fa fa-plus"></i> <span data-i18n="event.addParticipants"></span></button></div>
                    </div>
                    <!-- ko if: participants().length == 0 -->
                    <span data-i18n="event.noParticipantsInTournament"></span>
                    <!-- /ko -->
                    <!-- ko if: participants().length > 0 -->
                    <table id="ranking" class="table table-striped">
                        <thead>
                            <tr class="firstHeader">
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Total primary points</th>
                                <th>Total secondary points</th>
                                <th>Elimination round</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: participants">
                            <tr>
                                <td data-bind="text: $index()+1"></td>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: $data.totalPrimaryPoints ? $data.totalPrimaryPoints : ''"></td>
                                <td data-bind="text: $data.totalSecondaryPoints ? $data.totalSecondaryPoints : ''"></td>
                                <td data-bind="text: $data.eliminationRoundNumber ? $data.eliminationRoundNumber : ''"></td>
                                <td><button class="btn btn-danger btn-sm" data-bind="click: $root.removeParticipant.bind($root)"><i class="fa fa-times"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end participants -->
        <!-- rounds -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingRounds" data-toggle="collapse" href="#collapseRounds" aria-expanded="true" aria-controls="collapseRounds">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="common.rounds" />
                    </a>
                </h4>
            </div>
            <div id="collapseRounds" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRounds">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3"><button type="button" data-bind="click: addRound" class="options btn btn-primary" ><i class="fa fa-plus"></i> <span data-i18n="event.addNewRound"></span></button></div>
                    </div>
                    <!-- ko if: rounds().length == 0 -->
                    <span data-i18n="event.noRoundsDefined"></span>
                    <!-- /ko -->
                    <!-- ko if: rounds().length > 0 -->
                    <div class="row">
                        <!-- ko foreach: rounds -->
                        <div class="col-sm-3" data-bind="hub: {actionTextKey: 'event.showRound', action: $parent.showRound, data:$data}">
                            <div data-part="content">
                                <h3><span data-i18n="common.round"></span> <span data-bind="text: data._id"></span></h3>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end rounds -->


    </div> <!-- end panel group -->

</section>