<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-bind="text: name"></span> <small data-bind="text: festivalName"></small></h1>
    </section>

    <div class="row">
        <div class="col-sm-6"><button type="button" data-bind="click: gotoTournament" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.backToTournament"></span></button></div>
        <!-- ko if: round().matches.length == 0 -->
        <div class="col-sm-6"><button type="button" data-bind="click: generateRound" class="options btn btn-primary" ><i class="fa fa-table"></i> <span data-i18n="event.generateMatches"></span></button></div>
        <!-- /ko -->
        <!-- ko if: round().matches.length > 0 -->
        <div class="col-sm-3"><button type="button" data-bind="click: deleteMatches" class="options btn btn-primary" ><i class="fa fa-times"></i> <span data-i18n="event.deleteMatches"></span></button></div>
        <!-- /ko -->
        <!-- ko if: round().matches.length > 0 -->
        <div class="col-sm-3"><button type="button" data-bind="click: finishRound" class="options btn btn-primary" ><i class="fa fa-check"></i> <span data-i18n="event.finishRound"></span></button></div>
        <!-- /ko -->
    </div>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- ko if: round().matches.length > 0 -->
        <!-- matches -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMatches" data-toggle="collapse" href="#collapseMatches" aria-expanded="true" aria-controls="collapseMatches">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="scorer.matches" />
                    </a>
                </h4>
            </div>
            <div id="collapseMatches" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMatches">
                <div class="panel-body">
                    <!-- ko if: rearrangeEnabled() -->
                    <div class="col-xs-12">
                        <span data-i18n="event.dragPlayersToTables"></span>
                    </div>
                    <!-- ko foreach: tournament.participants -->
                    <!-- ko if: !isSelected() -->
                    <div class="col-xs-6 col-sm-4 col-lg-3" data-bind="draggable:{}">
                        <div class="well">
                            <span data-bind="text:name"></span>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <div class="clearfix"></div>
                    <!-- /ko -->

                    <div class="row" data-bind="foreach: matches">
                        <div class="col-xs-12 col-sm-6 col-lg-4" data-bind="
                                                                    hub: {actionTextKey: $root.rearrangeEnabled() ? false : 'scorer.editScores', action: $root.enterScores, data: $data },
                                                                    droppable: { onDrop: $root.playerDropped.bind($root) }
                                                                 ">
                            <div data-part="content">
                                <h3>
                                    <span data-i18n="event.table"></span>
                                    <span data-bind="text: data.tableNumber"></span>
                                    <!-- ko if: data.matchNumber -->
                                     / <span data-bind="text: data.matchNumber"></span>
                                    <!-- /ko -->
                                </h3>
                                <table class="table" >
                                    <thead>
                                        <th>Position</th>
                                        <th>Name</th>
                                        <th>Result</th>
                                        <th>Rank</th>
                                    </thead>
                                    <tbody data-bind="foreach: data.participants">
                                        <tr>
                                            <td data-bind="text: seatingPosition"></td>
                                            <td data-bind="text: name"></td>
                                            <!-- ko if: $data.result || $data.result == 0 -->
                                            <td data-bind="text: result"></td>
                                            <!-- /ko -->
                                            <!-- ko if: !$data.result-->
                                            <td></td>
                                            <!-- /ko -->
                                            <!-- ko if: $data.rank -->
                                            <td data-bind="text: rank"></td>
                                            <!-- /ko -->
                                            <!-- ko if: !$data.rank -->
                                            <td></td>
                                            <!-- /ko -->
                                            <!-- ko if: $root.rearrangeEnabled() -->
                                            <td><button class="btn btn-danger btn-sm" data-bind="click: $root.removeFromMatch.bind($root), clickBubble: false  "><i class="fa fa-times"></i></button></td>
                                            <!-- /ko -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- ko if: $index() % 2 == 1 -->
                        <div class="clearfix visible-sm visible-md"></div>
                        <!-- /ko -->
                        <!-- ko if: $index() % 3 == 2 -->
                        <div class="clearfix visible-lg"></div>
                        <!-- /ko -->
                    </div>

                    <!-- ko if: rearrangeEnabled() -->
                    <div class="clearfix"></div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <button class="btn btn-primary" data-i18n="common.done" data-bind="click: finishRearrange"></button>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end matches -->
        <!-- /ko -->






        <!-- ko if: round().ranking.length > 0 -->
        <!-- ranking -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingRanking" data-toggle="collapse" href="#collapseRanking" aria-expanded="true" aria-controls="collapseRanking">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="event.ranking" />
                    </a>
                </h4>
            </div>
            <div id="collapseRanking" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRanking">
                <div class="panel-body">

                    <table class="table" >
                        <thead>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Primary carryover</th>
                            <th>Secondary carryover</th>
                            <th>Primary</th>
                            <th>Secondary</th>
                            <th>Total primary</th>
                            <th>Total secondary</th>
                        </thead>
                        <tbody data-bind="foreach: ranking">
                        <tr>
                            <td data-bind="text: $index()+1"></td>
                            <td data-bind="text: name, style: {'text-decoration': isEliminated ? 'line-through' : 'none'}"></td>
                            <td data-bind="text: previousRoundPrimaryCarryover"></td>
                            <td data-bind="text: previousRoundSecondaryCarryover"></td>
                            <td data-bind="text: primaryPoints"></td>
                            <td data-bind="text: secondaryPoints"></td>
                            <td ><strong data-bind="text: primaryPointsTotal"></strong></td>
                            <td ><strong data-bind="text: secondaryPointsTotal"></strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end ranking -->
        <!-- /ko -->








        <!-- propositions -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingPropositions" data-toggle="collapse" href="#collapsePropositions" aria-expanded="true" aria-controls="collapsePropositions">
                <h4 class="panel-title">
                    <a>
                        <span data-bind="i18n: {key: 'event.propositionsForRound', options: {nr: round()._id}}" />
                    </a>
                </h4>
            </div>
            <div id="collapsePropositions" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPropositions">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.tableArrangement',
                                                         placeholderKey: 'event.selectTableArrangement',
                                                         value: round().propositions.tableReposition,
                                                         onSave: onTableRepositionChanged,
                                                         dropdownOptions: tableRepositionEnum,
                                                         dropdownProperty: 'name'
                                                    }">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                     titleKey: 'event.numberOfTables',
                                                     placeholderKey: 'event.enterNumberOfTables',
                                                     value: round().propositions.numberOfTables,
                                                     onSave: onNumberOfTables
                                                }">
                            </div>
                        </div>
                        <div class="clearfix" />

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.largerPlayerCountOnLowerTables',
                                                         value: round().propositions.largerPlayerCountOnLowerTables,
                                                         onSave: onLargerPlayerCountOnLowerTablesChanged
                                                    }">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.tableSeating',
                                                         placeholderKey: 'event.selectTableSeating',
                                                         value: round().propositions.seating,
                                                         onSave: onSeatingChanged,
                                                         dropdownOptions: seatingEnum,
                                                         dropdownProperty: 'name'
                                                    }">
                            </div>
                        </div>
                        <div class="clearfix" />

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.cutoff',
                                                         placeholderKey: 'event.enterCutoff',
                                                         value: round().propositions.cutoff,
                                                         onSave: onCutoffChanged
                                                    }">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.cutoffType',
                                                         placeholderKey: 'event.selectCutoffType',
                                                         value: round().propositions.cutoffType,
                                                         onSave: onCutoffTypeChanged,
                                                         dropdownOptions: cutoffTypeEnum,
                                                         dropdownProperty: 'name'
                                                    }">
                            </div>
                        </div>
                        <div class="clearfix" />

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.primaryRankingType',
                                                         placeholderKey: 'event.selectRankingType',
                                                         value: round().propositions.primaryRankingType,
                                                         onSave: onPrimaryRankingTypeChanged,
                                                         dropdownOptions: primaryRankingTypeEnum,
                                                         dropdownProperty: 'name'
                                                    }">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.higherIsBest',
                                                         value: round().propositions.primaryRankingHigherIsBest,
                                                         onSave: onPrimaryRankingHigherIsBestChanged
                                                    }">
                            </div>
                        </div>
                        <div class="clearfix" />

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.secondaryRankingType',
                                                         placeholderKey: 'event.selectRankingType',
                                                         value: round().propositions.secondaryRankingType,
                                                         onSave: onSecondaryRankingTypeChanged,
                                                         dropdownOptions: secondaryRankingTypeEnum,
                                                         dropdownProperty: 'name'
                                                    }">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.higherIsBest',
                                                         value: round().propositions.secondaryRankingHigherIsBest,
                                                         onSave: onSecondaryRankingHigherIsBestChanged
                                                    }">
                            </div>
                        </div>
                        <div class="clearfix" />

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.carryoverType',
                                                         placeholderKey: 'event.selectCarryoverType',
                                                         value: round().propositions.carryoverType,
                                                         onSave: onCarryoverTypeChanged,
                                                         dropdownOptions: carryoverTypeEnum,
                                                         dropdownProperty: 'name'
                                                    }">
                            </div>
                        </div>
                        <!-- ko if: round().propositions.carryoverType.type == 'carryover' -->
                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.carryover',
                                                         placeholderKey: 'event.enterCarryover',
                                                         value: round().propositions.carryover,
                                                         onSave: onCarryoverChanged
                                                    }">
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="clearfix" />

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.multipleMatches',
                                                         value: round().propositions.multipleMatches.isMultiple,
                                                         onSave: onMultipleMatchesChanged
                                                    }">
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <!-- ko if: round().propositions.multipleMatches.isMultiple -->
                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: 'event.isPlayedToNumberOfWins',
                                                         value: round().propositions.multipleMatches.isPlayedToNumberOfWins,
                                                         onSave: onPlayedToNumberOfWinsChanged
                                                    }">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div data-bind="editableField: {
                                                         titleKey: numberOfMatchesLabelKey(),
                                                         placeholderKey: numberOfMatchesPlaceholderKey(),
                                                         value: round().propositions.multipleMatches.numberOfMatchesOrWins,
                                                         onSave: onNumberOfMatchesOrWinsChanged
                                                    }">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- /ko -->

                        <!-- ko if: round().propositions.primaryRankingType.type == 'rankPoints' || round().propositions.secondaryRankingType.type == 'rankPoints' -->
                        <div class="col-xs-6">
                            <h4>Rank table</h4>
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Points</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- ko foreach: rankTable -->
                                <tr>
                                    <td data-bind="text: _id"></td>
                                    <td data-bind="text: points"></td>
                                    <td><button class="btn btn-danger btn-sm" data-bind="click: $root.removeRankRow.bind($root)"><i class="fa fa-times"></i></button></td>
                                </tr>
                                <!-- /ko -->
                                <tr>
                                    <td><input type="text" class="form-control" data-bind="value: currentRankTablePosition"/></td>
                                    <td><input type="text" class="form-control" data-bind="value: currentRankTablePoints"/></td>
                                    <td><button class="btn btn-primary" data-bind="click:addRankRow" ><i class="fa fa-plus"></i></button></td>
                                </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary" data-bind="click: saveRankTable">Save rank table</button>
                        </div>
                        <!-- /ko -->
                    </div>



                </div>
            </div>
        </div>
        <!-- end propositions -->

    </div> <!-- end panel group -->

</section>