`<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="event.tournaments"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div class="row">
        <div class="col-sm-6"><button type="button" data-bind="click: addNew" class="options btn btn-primary" ><i class="fa fa-file"></i> <span data-i18n="event.newTournament"></span></button></div>
        <div class="col-sm-6"><button type="button" data-bind="click: gotoEventAdmin" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.goToEventAdmin"></span></button></div>
    </div>
    <div class="row" data-bind="foreach: tournaments">
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'event.viewTournament', action: $root.viewTournament, data: $data}">
            <div data-part="content">
                <h3><span data-bind="text: data.name"></span></h3>
            </div>
        </div>
    </div>
</section>