<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="scorer.matchPhaseName"></h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group well">
                <label for="enterName" data-i18n="scorer.enterPhaseName"></label>
                <input type="text" class="form-control" id="enterName" data-i18n="[placeholder]scorer.enterPhaseName" data-bind="value: name, valueUpdate: 'afterkeydown'" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok, enable: canSubmit" data-i18n="common.ok"></button>
        <button class="btn " data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>