<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="scorer.addPhase"></h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="phaseType" data-i18n="scorer.phaseType"></label>
                <select class="form-control" id="phaseType"
                        data-bind="options: phases,
                                   optionsText: 'name',
                                   value: chosenPhase,
                                   optionsCaption: phasesCaption">
                </select>
            </div>

            <div class="form-group" data-bind="visible: chosenPhase() && chosenPhase().type === 3">
                <label for="enterName" data-i18n="scorer.enterPhaseName"></label>
                <input type="text" class="form-control" id="enterName" data-i18n="[placeholder]scorer.enterPhaseName" data-bind="value: customPhaseName, valueUpdate: 'afterkeydown'" />
            </div>

            <div class="form-group" data-bind="if: !isNext()">
                <label for="existingPhase" data-i18n="scorer.addAfterPhase"></label>
                <select class="form-control" id="existingPhase"
                        data-bind="options: existingPhases,
                                   optionsText: 'name',
                                   value: afterPhase,
                                   optionsCaption: phasesCaption">
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok, enable: canSubmit" data-i18n="common.ok"></button>
        <button class="btn " data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>