<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="scorer.addPlayer"></h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <span data-bind="visible: buddies()===null || buddies().length===0" data-i18n="scorer.noBuddiesScoringMsg"/>
            <div class="form-group well add-player-option" data-bind="visible: buddies() && buddies().length>0">
                <label data-i18n="scorer.pickYourBuddy"></label>

                <div class="btn-group btn-group-justified">
                    <select id="mySelect" class="multiselect" multiple="multiple" data-bind="
                        options: buddies,
                        optionsText: 'name',
                        optionsValue: '_id',
                        selectedOptions: namesPicked,
                        multiselect: {
                            includeSelectAllOption: true,
                            includeSelectAllDivider: true,
                            selectAllText: selectAllLabel,
                            enableFiltering: true,
                            enableCaseInsensitiveFiltering: true,
                            nonSelectedText: noneSelectedLabel,
                            filterPlaceholder: filterPlaceholderLabel,
                            maxHeight: 400 }">
                    </select>
                    <div class="btn-group">
                        <button class="btn btn-primary" data-bind="click: picked, enable: namesPicked().length > 0" data-i18n="common.add"></button>
                    </div>
                </div>

            </div>
            <div class="form-group well add-player-option" data-bind="css: {'has-error': duplicateNameFound()}">

                <label for="playerName" data-i18n="scorer.enterNewBuddy"></label>
                <i class="fa fa-info iconcolor" data-bind= "tooltip: {placement: 'top', titleKey: 'scorer.canEnterMoreBuddiesAtOnce'}" style="margin-left: 10px" />

                <div class="input-group">
                  <input type="text" class="form-control" id="playerName" data-i18n="[placeholder]common.enterName" data-bind="value: nameEntered, valueUpdate: 'afterkeydown'" />

                    <span class="input-group-btn">
                    <button class="btn btn-primary" data-bind="click: entered, enable: nameEntered() && !duplicateNameFound() " data-i18n="common.add"></button>
                  </span>
                </div><!-- /input-group -->
                <p class="text-danger" data-bind="visible: duplicateNameFound, text: duplicateNameMessage"></p>
            </div>
            <div class="form-group well add-player-option">
                <label data-i18n="scorer.iDontKnowHer"></label>
                    <button class="btn btn-primary width100" data-bind="click: anonymousClicked" data-i18n="scorer.addUnknownPlayer"></button>
            </div>
            <div class="form-group well add-player-option" data-bind="visible: myselfAvailable">
                <label data-i18n="scorer.illBePlaying"></label>
                    <button class="btn btn-primary width100" data-bind="click: myselfClicked" data-i18n="scorer.addMyself"></button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn width100" data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>