<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="scorer.editPhase"></h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="phaseType" data-i18n="scorer.phaseType"></label>
                <select class="form-control" id="phaseType"
                        data-bind="options: phases,
                                   optionsText: 'name',
                                   value: chosenPhase,
                                   optionsCaption: phasesCaption">
                </select>
            </div>

            <div class="form-group" data-bind="visible: chosenPhase() && chosenPhase().type === 3">
                <label for="enterName" data-i18n="scorer.enterPhaseName"></label>
                <input type="text" class="form-control" id="enterName" data-i18n="[placeholder]scorer.enterPhaseName" data-bind="value: customPhaseName, valueUpdate: 'afterkeydown'" />
            </div>

            <div class="form-group">
                <label for="startDate" data-i18n="scorer.startTime"></label>
                <div class='input-group date' data-bind="dateTimePicker: {
                                                            value: startDateTime}" id="startDate">
                </span>
                </div>
            </div>

            <div class="form-group">
                <label for="endDate" data-i18n="scorer.endTime"></label>
                <div class='input-group date' data-bind="dateTimePicker: {value: endDateTime}" id="endDate">
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>

            <div class="form-group" data-bind="visible: showChangeGameTime">
                <label for="extendGame" data-i18n="scorer.changePlayingTime"/>
                <input type="checkbox" id="extendGame" data-bind="switch: {value: changeGameTime, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}"/>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok, enable: canSubmit" data-i18n="common.ok"></button>
        <button class="btn " data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>