<div class="messageBox modal-content autoclose score-dialog" >
    <div class="modal-header">
        <h3 data-i18n="scorer.scoresheet"></h3>
    </div>
    <div class="modal-body">
        <div data-bind="scoreTable: {
                            players: players
                        }">
            <div data-part="participantName">
                <span data-bind="text: name, visible: !$data.isAnonymous && !$data.isUser"></span>
                <span data-bind="visible: $data.isAnonymous"><em data-i18n="scorer.unknown"></em></span>
                <span data-bind="visible: $data.isUser" data-i18n="scorer.me"></span>
            </div>
        </div>
        <button class="btn" data-bind="click: reset" data-i18n="scorer.resetScores"></button>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: done" data-i18n="common.done"></button>
        <button class="btn" data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>