<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="common.options"></h3>
    </div>
    <div class="modal-body">
        <!-- ko if: renameVisible -->
        <div class="input-group">
        <input type="text" class="form-control typeahead"
               data-bind="
                    attr: {placeholder: renamePlaceholder},
                    value: newName,
                    valueUpdate: 'keyup',
                    typeahead: {
                            datums: itemSuggestions,
                            itemId: itemId
                        }
               ">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-bind="click: rename, i18n: {key: renameLabel}"></button>
            </span>
        </div><!-- /input-group -->
        <br>
        <!-- /ko -->
        <!-- ko if: deleteVisible -->
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" data-i18n="common.delete" data-bind="click: startDelete"></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-i18n="common.confirm" data-bind="click: confirmedDelete, enable: toConfirm"></button>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>