<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="scorer.determineFirstPlayer"></h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <span data-bind="visible: players()===null || players().length===0" data-i18n="scorer.noPlayersMsg"/>
            <div class="form-group well add-player-option" data-bind="visible: players() && players().length>0">
                <span data-bind="visible: choseRandom()" data-i18n="scorer.randomizedFirstPlayer" />
                <span data-bind="visible: !choseRandom()" data-i18n="scorer.chosenFirstPlayer" />
                <strong data-bind="text: firstPlayer().name, visible: firstPlayer().name" />
                <strong data-i18n="scorer.me" data-bind="visible: firstPlayer().isUser" />
                <strong data-i18n="scorer.unknown" data-bind="visible: firstPlayer().isAnonymous" />
                <p data-bind="visible: choseRandom()" data-i18n="scorer.randomizedFirstPlayerExpl" />
                <a data-bind="visible: !choseRandom(), click: randomize" data-i18n="scorer.randomize" />
            </div>
            <div class="form-group well add-player-option" data-bind="visible: players() && players().length>0">
                <p data-i18n="scorer.pickFirstPlayer"></p>
                <small data-bind="foreach: players" >
                    <button style="margin-bottom: 5px;" data-bind="text: $data.name, visible: $data.name, click: $root.selectPlayer" />
                    <button style="margin-bottom: 5px;" data-i18n="scorer.me" data-bind="visible: $data.isUser, click: $root.selectPlayer" />
                    <button style="margin-bottom: 5px;" data-i18n="scorer.unknown" data-bind="visible: $data.isAnonymous, click: $root.selectPlayer" />
                </small>


            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-bind="click: cancel" data-i18n="common.cancel"></button>
        <button class="btn primary" data-bind="click: ok" data-i18n="common.ok"></button>
    </div>
</div>