<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-i18n="user.sendInvite"></h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group well">
                <label for="enterEmails" data-i18n="user.inviteEnterEmailsLabel" />
                <textarea type="text" class="form-control" id="enterEmails" data-i18n="[placeholder]user.emailsPlaceholder" data-bind="value: emails, valueUpdate: 'afterkeydown'" />
            </div>
            <div class="form-group well">
                <label for="enterMessage" data-i18n="user.inviteEnterMsgContentLabel" />
                <textarea type="text" rows="8" class="form-control" id="enterMessage" data-i18n="[placeholder]msg.content" data-bind="value: message, valueUpdate: 'afterkeydown'" />
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok, enable: canSubmit" data-i18n="common.ok"></button>
        <button class="btn " data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>