﻿/*!
 * Durandal 2.0.0 Copyright (c) 2012 Blue Spire Consulting, Inc. All Rights Reserved.
 * Available via the MIT license.
 * see: http://durandaljs.com or https://github.com/BlueSpire/Durandal for details
 */

/************** SPLASH SCREEN - index.html**************/
.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
}

.splash .icon-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}
/************** END SPLASH SCREEN **************/

/************** HUB widget **************/
.hub h3, .hub h2 {
    margin-top: 0px;
}

.hub.with-action {
    padding-bottom: 10px;
    cursor: pointer;
    box-shadow: inset -3px -3px 5px rgba(0,0,0,0.3), inset 2px 1px 8px rgba(255,255,255,1);
    webkit-box-shadow: inset -3px -3px 5px rgba(0,0,0,0.3), inset 2px 1px 8px rgba(255,255,255,1);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}

.hub.with-action:hover, .hub.with-action:active, .hub.with-action:focus {
    box-shadow: inset -1px -1px 5px rgba(0,0,0,0.3), inset 2px 1px 8px rgba(255,255,255,1);
    -webkit-box-shadow: inset -1px -1px 5px rgba(0,0,0,0.3), inset 2px 1px 8px rgba(255,255,255,1);
}

.hub .action-description {
    text-overflow: ellipsis;
    overflow: hidden;
    text-rendering: auto;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    color: #999;
    position: absolute;
    bottom:35px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hub:hover .action-description {
    font-size: 23px;
}

.name-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
}

.name-overflow:hover {
    overflow: visible;
    z-index: -100;
}

.hub:hover .name-overflow {
    overflow: visible;
    z-index: -100;
}

@media (max-width: 767px) {
    .col-xs-1 .hub .action-description, .col-xs-2 .hub .action-description, .col-xs-3 .hub .action-description, .col-xs-4 .hub .action-description,
    .col-xs-5 .hub .action-description, .col-xs-6 .hub .action-description, .col-xs-7 .hub .action-description, .col-xs-8 .hub .action-description,
    .col-xs-9 .hub .action-description, .col-xs-10 .hub .action-description, .col-xs-11 .hub .action-description, .col-xs-12 .hub .action-description {
        bottom:35px;
    }
    .hub .action-description {
        bottom:15px;
    }
}

/* hub with big plus sign */
.addItem {
    text-align: center;
    height: 66px;
    padding-top: 18px;
}

/************** END HUB WIDGET **************/

/************** ADD PLAYER MODAL **************/
.add-player-option:hover {
    opacity: 1 !important;
}

/************** END ADD PLAYER MODAL **************/

/************** VIEW (FINISHED) MATCH **************/
.finished-phase {
    opacity: 0.5;
}

@media (max-width: 512px) {
    .match-phase{
        font-size: 13px;
    }

    .match-phase h3 {
        font-size: 15px;
    }
}

@media (max-width: 388px) {
    .match-phase{
        font-size: 11px;
        padding-left: 5px;
    }

    .match-phase h3 {
        font-size: 13px;
    }
}

/************** END VIEW (FINISHED) MATCH  **************/

/************** SCORE DIALOG **************/
.score-dialog, .wide-dialog {
    width: 800px;
}

.score-dialog table td {
    /*border-top: none !important;*/
}

.score-dialog .wide {
    width: 150px;
}

.score-field .score {
    width: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
}

.score-field .score-button {
    margin-right: 5px;
}

.score-field .score-button:last-child {
    margin-right: 0px;
}

.score-field {
    width: 250px;
}

.score-table-name {
    padding-top: 15px !important;
}

.score-table tr {
    text-align: center;
}

.score-table-wrapper {
    border: none !important;
}

/************** END SCORE DIALOG **************/

/************** FREEZE COLUMN BINDING **************/
.table-responsive>.frozen-column {
    position: absolute;
    display: inline-block;
    width: auto;
}

.frozen-column-scrolled {
    border-right: 1px solid #ddd;
}

/************** END FREEZE COLUMN BINDING **************/

/************** PLAYER PROFILE **************/
.meepleChooseColor {
    cursor: pointer;
    margin-right: 10px
}

/************** END PLAYER PROFILE **************/

/************* PANEL ****************************/
.header-button {
    margin-left: 40px;
}

@media (max-width: 388px) {
    .header-button {
        margin-left: 30px;
    }
}

/************* END PANEL ************************/


/************* DRAG DROP ***********************/
.drag-drop-animate {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.highlight {
    -webkit-transform: scale3d(1.08,1.08,1);
    transform: scale3d(1.08,1.08,1);
}

.droppable {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.is-dragging {
    z-index: 100;
}
/************* END DRAG DROP *******************/


a {
    cursor: pointer;
}

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}

.signUpBtn {
    margin-top: 20px;
    border-top: black solid 1px;
    padding-top: 20px;
}


.meepleBlue {color:#1e87c1;}
.meepleRed {color:#cc3232;}
.meepleGreen {color:#2bb235;}
.meepleYellow {color:#ead303;}
.meepleOrange {color:#e29024;}
.meepleBlack {color:#939598;}
.meeplePink {color:#f978cb;}
.meeplePurple {color:#9656db;}

/* classes used to mark new & out of dust games on stats.html. JH: feel free to modify per taste. */
.newGame {color:#e29024;}
.newLabel { background-color:#e29024; }
.outOfDustGame {color:#2bb235;}
.outOfDustLabel { background-color:#2bb235; }
.gameInfoLabel {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.activeLink {text-decoration: underline;}

.meepleSprite {
    background: url("../images/meeples.png") no-repeat;
    width: 33px;
    height: 33px;
    display: inline-block; /* Display icon as inline block */

}
.meeplePurpleLogo{
    background-position:  -234px -29px; /* Icon background position in sprite */
}
.meepleYellowLogo{
    background-position:  -330px -29px; /* Icon background position in sprite */
}
.meeplePinkLogo{
    background-position:  -426px -29px; /* Icon background position in sprite */
}
.meepleOrangeLogo{
    background-position:  -42px -113px; /* Icon background position in sprite */
}
.meepleBlueLogo{
    background-position:  -138px -113px; /* Icon background position in sprite */
}
.meepleGreyLogo{
    background-position:  -234px -113px; /* Icon background position in sprite */
}
.meepleGreenLogo{
    background-position:  -426px -113px; /* Icon background position in sprite */
}
.meepleRedLogo{
    background-position:  -330px -113px; /* Icon background position in sprite */
}


.form-group .bootstrap-switch {
    display:block;
}

button.options{
    width: 100%;
    margin-bottom:10px !important;
}