﻿html, body, #applicationHost, #shell, .page-host, .module-host, .module, .module-toolbar {
    height: 100%;
}


.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 18px
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}

.loader.active {
    visibility: visible;
}

.main-content {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 10px;
}

.main-content.with-side-panel {
    padding-left: 55px;
}

.module{
    position: relative;
    /*padding-top: 65px;*/
    width: 100%;
}

.module-toolbar {
    float: left;
    width: 45px;
    margin-left: -100%;
}

.navbar-nav.nav-stacked {
    margin: 0px;
}

.navbar-nav.nav-stacked > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar.vertical {
    border-radius: 0px;
    margin-bottom: 0px;
}

#msgWrapper{
    margin-top: 60px;
}

.shell-spinner {
    position: absolute;
    top: 75px;
    right: 10px;
}

.shell-spinner i {
    position: relative;
    left: -12px;
}
