<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="common.administration"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div class="row">
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'event.viewLibrary', action: viewLibrary}">
            <div data-part="content">
                <h3 data-i18n="event.library"></h3>
            </div>
        </div>
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'event.showParticipants', action: showParticipants}">
            <div data-part="content">
                <h3 data-i18n="event.allParticipants"></h3>
            </div>
        </div>
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'event.showEvents', action: showEvents}">
            <div data-part="content">
                <h3 data-i18n="event.events"></h3>
            </div>
        </div>
    </div>
</section>