<section class="module container-fluid">
    <section class="page-header">
        <h1 data-i18n="event.events"></h1>
    </section>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- events -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEvents" data-toggle="collapse" href="#collapseEvents" aria-expanded="true" aria-controls="collapseEvents">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="event.upcomingEvents" />
                    </a>
                </h4>
            </div>
            <div id="collapseEvents" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEvents">
                <div class="panel-body">
                    <!-- ko if: events().length > 0 -->
                    <div class="row" data-bind="foreach: events">
                        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'event.viewEvent', action: $root.selectEvent, data: $data}">
                            <div data-part="content">
                                <h3 data-bind="text: data.name"></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: events().length == 0 -->
                    <span data-i18n="event.noUpcomingEvents"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end events -->
        <!-- Administration -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAdministration" data-toggle="collapse" href="#collapseAdministration" aria-expanded="true" aria-controls="collapseAdministration">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="common.administration" />
                    </a>
                </h4>
            </div>
            <div id="collapseAdministration" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAdministration">
                <div class="panel-body">
                    <!-- ko if: administeredEventOrganizers().length > 0 -->
                    <div class="row" data-bind="foreach: administeredEventOrganizers">
                        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'event.goToAdminPanel', action: $root.selectAdministeredEventOrganizer, data: $data}">
                            <div data-part="content">
                                <h3 data-bind="text: data.name"></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: administeredEventOrganizers().length == 0 -->
                    <span data-i18n="event.noAdmin"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- end Administration -->

    </div> <!-- end panel group -->
</section>