<section class="module container-fluid">
    <section class="page-header">
        <h1 data-i18n="signUp.welcome"></h1>
    </section>

    <!-- ko if: success -->
    <p data-i18n="signUp.confirmationSuccessful"></p>
    <button class="btn btn-primary" data-i18n="signUp.startUsing" data-bind="click: start"></button>
    <!-- /ko -->

    <!--ko if: resendVisible -->
    <div>
        <!-- ko if: !resendSuccessful() -->
        <span data-i18n="signUp.confirmationCodeExpired"></span>
        <form role="form">
            <div class="form-group">
                <label for="username" data-i18n="login.username"></label>
                <input type="text" class="form-control" id="username" data-i18n="[placeholder]login.enterUsername" data-bind="value: username">
            </div>
            <div class="form-group">
                <label for="password" data-i18n="login.password"></label>
                <input type="password" class="form-control" id="password" data-i18n="[placeholder]login.enterPassword" data-bind="value: password">
            </div>
            <button class="btn btn-default" data-bind="click: resend, disable: actionPending" data-i18n="signUp.resend"></button>
        </form>
        <!-- /ko -->
        <!-- ko if: resendSuccessful -->
        <p data-i18n="signUp.resendSuccessful"></p>
        <!-- /ko -->
    </div>

    <!-- /ko -->

</section>