<section class="module container-fluid">
    <section class="page-header">
        <h1>
            <span data-i18n="cookies.cookies" data-bind= "tooltip: {placement: 'top', titleKey: 'cookies.tooltip'}" />
            <i class="fa fa-cogs iconcolor" style="margin-left: 20px;"></i>
        </h1>
        <a data-bind="visible: !userApprovedCookies(), click: cookiesApproved" data-i18n="cookies.ok" style="float: right;"></a>
        <em data-bind="visible: userApprovedCookies(), i18n: {key:'cookies.okayed', options:  {context: sex()}}" style="float: right;"></em>
    </section>

    <section class="row">
        <section class="col-xs-12 col-sm-6" >
            <div class="panel panel-default">
                <div class="panel-heading"> <h3 data-i18n="cookies.whatAreCookies"></h3></div>
                <div class="panel-body">
                    <span data-i18n="cookies.whatAreCookiesText"></span>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-sm-6" >
            <div class="panel panel-default">
                <div class="panel-heading"> <h3 data-i18n="cookies.useOfCookies"></h3></div>
                <div class="panel-body">
                    <span data-i18n="cookies.useOfCookiesText"></span>
                </div>
            </div>
        </section>
    </section>
</section>