<main class="module-host">
    <section class="module">
        <main class="main-content container-fluid">
            <div class="row">
                <div class="col-sm-6" data-bind="hub: {actionTextKey: 'scorer.startMatch', action: startNewMatch}, visible: !matchIsLoading() && (!lastMatch() || !lastMatch().inProgress)">
                    <div data-part="content">
                        <h3 data-i18n="scorer.noMatchInProgress"></h3>
                        <p data-bind="visible: $root.lastMatch()" ><span data-i18n="scorer.lastMatchPlayed"></span>: <strong data-bind="text: $root.lastMatch().game"></strong>, <span data-bind="text: $root.lastMatch().dateFromNow"></span></p>
                        <p data-bind="visible: !$root.lastMatch()"  data-i18n="scorer.noMatchesPlayed"></p>
                    </div>
                </div>
                <div class="col-sm-6" data-bind="hub: {actionTextKey: 'scorer.seeMatchInProgress', action: viewMatch}, visible: !matchIsLoading() && lastMatch() && lastMatch().inProgress">
                    <div data-part="content">
                        <h3 data-i18n="scorer.matchInProgress"></h3>
                        <p data-bind="with: $root.lastMatch()"><strong data-bind="text: game"></strong>, <span data-bind="text: dateFromNow"></span></p>
                    </div>
                </div>
                <div class="col-sm-6" data-bind="hub: {actionTextKey: 'homepage.viewMessages', action: viewMessages}">
                    <div data-part="content" >
                        <p><i data-bind="visible: $root.newMessages()>0" class="fa fa-envelope fa-2x iconcolor" style="margin-right: 10px; float: left"></i>
                            <span style="margin-top: 0px;" data-bind="i18n: {
                                                            key: 'msg.newMessage',
                                                            options: {
                                                                count: $root.newMessages(),
                                                                context: $root.newMessages() == 0 ? 'no' : ''}}"></span></p>
                    </div>
                </div>
                <div class="col-sm-6" data-bind="hub: {actionTextKey: 'homepage.profile', action: viewProfile}">
                    <div data-part="content">
                        <p><i class="fa fa-user fa-2x iconcolor" style="margin-right: 10px; float: left"></i><strong style="margin-top: 0px;" data-bind="text: $root.name"></strong></p>
                    </div>
                </div>
            </div>
        </main>
    </section>
</main>