<section class="module container-fluid">
    <section class="page-header">
        <h1 data-i18n="importExport.importExport"></h1>
    </section>

    <div>
        <form role="form">
            <div class="form-group">
                <label for="username" data-i18n="importExport.bggUserName"></label>
                <input type="text" class="form-control" id="username" data-i18n="[placeholder]importExport.enterBggUsername" data-bind="value: bggUsername">
            </div>
            <button class="btn btn-default" data-bind="click: importBggGames, disable: actionPending" data-i18n="importExport.import"></button>
        </form>
    </div>

</section>