<section class="module container-fluid">
    <section class="page-header">
        <h1 data-i18n="login.loginProblems"></h1>
    </section>
    <div>
        <h3 data-i18n="loginProblems.youForgot"></h3>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" data-i18n="loginProblems.password"></div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="username" data-i18n="login.enterUsername"></label>
                            <input type="text" class="form-control" id="username" data-i18n="[placeholder]login.enterUsername" data-bind="value: username">
                        </div>
                        <button data-i18n="loginProblems.recoverPassword" data-bind="click: recoverPassword" class="btn btn-default"></button>
                    </form>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-i18n="loginProblems.username"></div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="email" data-i18n="signUp.enterEmail"></label>
                            <input type="text" class="form-control" id="email" data-i18n="[placeholder]signUp.enterEmail" data-bind="value: email">
                        </div>
                        <button data-i18n="loginProblems.recoverUsername" data-bind="click: recoverUsername" class="btn btn-default"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>