<section class="module container-fluid">
    <section class="page-header">
        <h2> <span data-i18n="msg.composeMessage" /></h2>
    </section>

    <form role="form" >
        <div class="form-group">
            <label for="to" data-i18n="msg.msgTo"></label><i class="fa fa-info iconcolor" data-bind="tooltip: {placement: 'top', titleKey: 'msg.toDisclaimer'}" style="margin-left: 10px"></i>
            <input type="text" class="form-control" id="to" data-i18n="[placeholder]msg.toPlaceholder" data-bind="value: to, valueUpdate: 'keyup'">
        </div>
        <div class="form-group">
            <label for="content" data-i18n="msg.content"></label>
            <textarea type="text" class="form-control" id="content" data-i18n="[placeholder]msg.contentPlaceholder" data-bind="value: content, valueUpdate: 'keyup'"></textarea>
        </div>
        <button class="btn btn-default" data-bind="click: sendMessage, disable: (!to() || !content())" data-i18n="msg.sendMessage"></button>
    </form>
</section>