<section class="module container-fluid">
    <section class="page-header">
        <h2>
            <!-- <span data-bind="visible:folder()==='inbox', i18n: {key: 'msg.from', options: {who: from()}}" />
            <span data-bind="visible:folder()==='sent', i18n: {key: 'msg.to', options: {who: to()}}" /> -->
            <span data-bind="visible:folder()==='inbox', text: from()" />
            <span data-bind="visible:folder()==='sent', text: to()" />

        </h2>
    </section>



    <h3>"<span data-bind="html: content()" />"</h3>
    <hr />

    <p>
        <span data-bind="i18n: {key: 'msg.sentWhen', options: {when: dateSent()}}" />
    </p>

    <!-- quick reply -->
    <div class="row">
        <div class="col-xs-12 col-sm-8  col-md-10" >
            <textarea type="text" class="form-control" id="replyMessage" data-i18n="[placeholder]msg.quickReplyPlaceholder" data-bind="value: replyMessage, valueUpdate: 'keyup'"></textarea>
        </div>
        <div class="col-xs-12 col-sm-4  col-md-2" >
            <button type="button" data-i18n="msg.quickReply" data-bind="click: reply, disable: !replyMessage()" class="btn btn-primary" style="width:100%;margin-bottom: 5px;margin-top: 5px" />
        </div>
    </div>

    <h2>
        <span data-bind="visible:folder()==='inbox', i18n: {key: 'msg.conversationWith', options: {who: from()}}" />
        <span data-bind="visible:folder()==='sent', i18n: {key: 'msg.conversationWith', options: {who: to()}}" />
    </h2>
    <div class="row">
        <div class="col-xs-6 col-sm-6  col-md-6" >
            <h3 data-i18n="msg.sent"></h3>
        </div>
        <div class="col-xs-6 col-sm-6  col-md-6" >
            <h3 data-i18n="msg.inbox"></h3>
        </div>
    </div>
    <div data-bind="foreach: previousMessages">
        <div class="row">
            <div class="col-xs-6 col-sm-6  col-md-6" >
                <div data-bind="visible: folder==='sent', click: $root.selectMessage" class="panel panel-success" style="cursor: pointer;">
                    <div class="panel-body name-overflow" >
                          <p>"<span  data-bind="text: content" />"</p>
                        <small  data-bind="text: $root.toMoment(dateSent).fromNow()" />
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6  col-md-6" >
                <div data-bind="visible: folder==='inbox', click: $root.selectMessage" class="panel panel-info" style="cursor: pointer;">
                    <div class="panel-body name-overflow" >
                        <p>"<span  data-bind="text: content" />"</p>
                        <small  data-bind="text: $root.toMoment(dateSent).fromNow()" />
                     </div>
                </div>
            </div>
        </div>
    </div>

</section>