<section class="module container-fluid">
    <section class="page-header">
        <h1>
            <span data-i18n="msg.messages"></span>
            <small data-bind="visible:displayFolder()==='inbox'" data-i18n="msg.inbox" />
            <small data-bind="visible:displayFolder()==='sent'" data-i18n="msg.sent" />
        </h1>
    </section>

    <!-- send msg button -->
    <button type="button" data-i18n="msg.sendMessage" data-bind="click: sendMessage"
            class="btn btn-primary" style="float: right; margin-bottom: 5px" />

    <div style="margin-bottom: 5px;margin-right: 2px"  class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active" data-bind="click: showInbox">
            <input  type="radio" name="options" id="optionInbox" autocomplete="off" checked> <span data-i18n="msg.inbox" />
        </label>
        <label class="btn btn-primary" data-bind="click: showSent">
            <input  type="radio" name="options" id="optionSent" autocomplete="off"> <span data-i18n="msg.sent" />
        </label>
    </div>
    <!-- filter -->
   <!-- <button data-i18n="msg.searchByContent" type="button" data-bind="click: filterContent"
            class="btn btn-info" style="margin-bottom: 5px;margin-right: 2px" /> -->
    <!-- ko if: (messages() && messages().length > 0) -->
    <button data-i18n="msg.showUnread" type="button" data-bind="visible:displayFolder()==='inbox', click: filterUnread"
            class="btn btn-info" style="margin-bottom: 5px;margin-right: 2px" />
    <button data-i18n="common.showAll" data-bind="visible:displayFolder()==='inbox', click: filterClear"
            type="button" class="btn btn-default"  style="margin-bottom: 5px" />
    <button data-i18n="msg.markAllAsRead" data-bind="visible:displayFolder()==='inbox' && containsUnreadMessages(), click: markAllAsRead"
            type="button" class="btn btn-default"  style="margin-bottom: 5px" />
    <!-- /ko -->
    <!-- end filter -->
    <p data-bind="visible: (!messages() || messages().length === 0)" data-i18n="msg.noMessagesInFolder"/>

    <!-- searchList with messages -->
    <!-- ko if: (messages() && messages().length > 0) -->
    <div data-bind="searchList: {
                        data: messages(),
                        selectCallback: selectMessage,
                        nameField: displayFolder()==='inbox'?'from':'to',
                        searchCustomFields: true,
                        searchString: myFilter(),
                        doSort: false
                        }">
        <div data-part="item-template">
            <div class="row">
                <div class="col-xs-12">
                    <p style="float:right" >
                        <i data-bind="css: {'fa-envelope': data.isUnread}, tooltip: {placement: 'top', titleKey: 'msg.unread'}"  class="fa fa-2x iconcolor" />
                    </p>
                    <p>
                        "<span data-bind="text: data.content" />"
                    </p>
                    <p data-bind="if: data.dateSent">
                        <span data-i18n="msg.isSent" />   <span data-bind="text: $root.toMoment(data.dateSent).fromNow()" />
                    </p>

                </div>



            </div>
        </div>

    </div>
    <!-- /ko -->

</section>