<section class="module container-fluid">
    <section class="page-header">
        <h1 data-i18n="loginProblems.passwordRecovery"></h1>
    </section>
    <form role="form" data-bind="if: !success()">
        <p data-i18n="loginProblems.changePasswordInstructions"></p>
        <div class="form-group">
            <label for="password" data-i18n="login.password"></label>
            <input type="password" class="form-control" id="password" data-i18n="[placeholder]login.enterPassword" data-bind="value: password">
        </div>
        <button class="btn btn-default" data-bind="click: confirm, disable: actionPending" data-i18n="common.ok"></button>
    </form>

    <!-- ko if: success -->
    <p data-i18n="loginProblems.passwordRecoverySuccessful"></p>
    <button class="btn btn-primary" data-i18n="login.login" data-bind="click: start"></button>
    <!-- /ko -->

</section>