<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-bind="text: username"></span><small data-bind="text: name"></small></h1>
    </section>

    <!-- panel group -->
    <div class="panel-group" role="tablist" aria-multiselectable="true">
        <!-- user profile -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="nav.profile" />
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">

                            <!-- send invite button -->
                            <button type="button" data-i18n="user.sendInvite" data-bind="click: sendInviteEmail"
                                    class="btn btn-primary" style="float: right; margin-bottom: 5px" />

                            <label data-i18n="login.username" />
                            <p class="form-control-static" data-bind="text: username"></p>
                        </div>
                        <div class="form-group">
                            <label data-i18n="common.email" />
                            <p class="form-control-static" data-bind="text: email"></p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- user profile -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo" class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="panel-title">
                    <a >
                        <span data-i18n="user.lookAndFeel" />
                    </a>
                </h4>

            </div>
            <div id="collapseTwo" class="panel-collapse collapse in " role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                   <form role="form">
                        <div class="form-group">
                            <label data-i18n="user.youPlayWith" />
                            <p class="form-control-static">
                                <!-- ko foreach: colors -->
                                    <i data-bind="
                                            click: $parent.chooseColor,
                                            tooltip: {placement: 'top', titleKey: i18n},
                                            css: {'fa-3x': color===$parent.color() },
                                            addCssClass: css" class="fa fa-2x fa-user meepleChooseColor"></i>
                                <!-- /ko -->
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="themes"  data-i18n="user.theme" />
                            <select class="form-control" id="themes"
                                    data-bind="options: themes, value: theme">
                            </select>

                        </div>

                    </form>
                </div>
            </div>
            <!-- end user profile -->
        </div>
    </div> <!-- end panel group -->
</section>