<section class="module container-fluid">
    <section class="page-header">
        <h1 data-i18n="signUp.welcome"></h1>
    </section>
    <form role="form" data-bind="if: !success()">
        <div class="form-group">
            <label for="username" data-i18n="login.username"></label>
            <input type="text" class="form-control" id="username" data-i18n="[placeholder]login.enterUsername" data-bind="value: username">
        </div>
        <div class="form-group">
            <label for="email" data-i18n="common.email"></label>
            <input type="text" class="form-control" id="email" data-i18n="[placeholder]signUp.enterEmail" data-bind="value: email">
        </div>
        <div class="form-group">
            <label for="password" data-i18n="login.password"></label>
            <input type="password" class="form-control" id="password" data-i18n="[placeholder]login.enterPassword" data-bind="value: password">
        </div>
        <div class="form-group">
            <label data-i18n="signUp.sex"></label>

            <i data-bind="click: choseFemale,
                            tooltip: {placement: 'top', titleKey: 'signUp.female'},
                            css: {'fa-3x': sex()==='f' }" class="fa fa-2x fa-female iconcolor" style="margin-left: 10px"></i>

            <i data-bind="click: choseMale,
                            tooltip: {placement: 'top', titleKey: 'signUp.male'},
                            css: {'fa-3x': sex()==='m' }" class="fa fa-2x fa-male iconcolor" style="margin-left: 10px"></i>
        </div>
        <button class="btn btn-default" data-bind="click: signUp, disable: actionPending" data-i18n="signUp.signUp"></button>
    </form>
    <section data-bind="if: success">
        <p data-bind="i18n: {key: 'signUp.successMessage', options: {username: username()}}"></p>
    </section>

</section>