<section class="module container-fluid">
    <section class="page-header">
        <h1 data-bind="i18n: {key: 'signUp.connectWithSocialAccount', options: {name: type=='fb'?'facebook':'google'}}"></h1>
    </section>
    <div>
        <h3 data-bind="i18n: {key: 'signUp.youwillconnect', options: {name: type=='fb'?'facebook':'google'}}" ></h3>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" data-i18n="signUp.existingBGBuddyAccount"></div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="username" data-i18n="login.username"></label>
                            <input type="text" class="form-control" id="username" data-i18n="[placeholder]login.enterUsername" data-bind="value: username">
                        </div>
                        <div class="form-group">
                            <label for="password" data-i18n="login.password"></label>
                            <input type="password" class="form-control" id="password" data-i18n="[placeholder]login.enterPassword" data-bind="value: password">
                        </div>
                        <button data-i18n="signUp.connect" data-bind="click: connect, disable: actionPending" class="btn btn-default"></button>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-i18n="signUp.newBGBuddyAccount"></div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="username_new" data-i18n="login.username"></label>
                            <input type="text" class="form-control" id="username_new" data-i18n="[placeholder]login.enterUsername" data-bind="value: newUsername">
                        </div>
                        <button data-i18n="signUp.createNew" data-bind="click: createNew, disable: actionPending" class="btn btn-default"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>