<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="scorer.newBuddy"></span></h1>
    </section>

    <form role="form">
        <div class="form-group">
            <label for="name" data-i18n="common.name"/>
            <input  type="text" class="form-control" id="name" data-i18n="[placeholder]common.enterName" data-bind="value: name" />
        </div>
        <div class="form-group">
            <label for="comment" data-i18n="common.comment"/>
            <textarea type="text" rows="2" class="form-control" id="comment" data-i18n="[placeholder]common.enterComment" data-bind="value: comment" />
        </div>

    </form>
    <button class="btn btn-default" data-bind="click: save" data-i18n="common.save"></button>
</section>