<section class="module container-fluid">
    <section class="page-header">
        <h1>
            <span data-i18n="scorer.addNewGame" />
            <span data-bind="text: name"></span>
        </h1>
    </section>

    <form role="form">
        <div class="form-group" >
            <label for="gameName" data-i18n="common.game"/>
            <input  type="text" class="form-control" id="gameName" data-i18n="[placeholder]common.enterGameName" data-bind="value: name, valueUpdate: 'keyup'" />
        </div>
        <div class="form-group">
            <label for="owner" data-i18n="scorer.ownGame"/>
            <input type="checkbox" id="owner"  data-bind="switch: {value: owner, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}"/>
        </div>

        <button class="btn btn-default" data-bind="click: saveGame, disable: !name() || actionPending()">
            <span data-i18n="scorer.addGame"/>
        </button>
    </form>

</section>