<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-bind="text: name"></span>&nbsp;<small data-bind="visible: buddyUsername(), text: buddyUsername"></small></h1>
    </section>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <!-- info -->
    <!-- ko panel: {
        titleKey: 'common.details',
        headerButtons: [{click: openPlayerOptions.bind($root), icon: 'fa-wrench', tooltipKey: 'common.options'}]
        }-->
    <div data-part="body" class="row" data-bind="with: $root">
        <section class="col-sm-6 col-xs-12 col-md-6" >
            <p>
                <i data-bind="css: {'fa-star': likeFlag(), 'fa-star-o': !likeFlag() }" class="fa iconcolor"  style="margin-right: 10px"></i>
                <span data-bind="visible: likeFlag()" data-i18n="buddy.favoriteBuddy"></span>
                <small><a data-bind="visible: likeFlag(), click: toggleLike" data-i18n="buddy.isThisNotAfavBuddy" style="cursor: pointer;"></a></small>
                <small><a data-bind="visible: !likeFlag(), click: toggleLike" data-i18n="buddy.isThisAfavBuddy" style="cursor: pointer;"></a></small>
            </p>
            <p data-bind="editableField: {
                                                     icon: 'fa-comment',
                                                     titleKey: 'common.comment',
                                                     placeholderKey: 'common.enterComment',
                                                     value: comment(),
                                                     onSave: saveComment,
                                                     noTitle: true,
                                                     isItalic: true,
                                                     changeKey: 'common.editComment',
                                                     showNotSet: false
                                                }">
            </p>
        </section>
        <section class="col-sm-6 col-xs-12 col-md-6" >
            <p data-bind="editableField: {
                                                     icon: 'fa-user',
                                                     titleKey: 'login.username',
                                                     placeholderKey: 'login.enterUsername',
                                                     value: buddyUsername(),
                                                     onSave: saveUsername
                                                }">
            </p>
            <p><i class="fa fa-envelope iconcolor" style="margin-right: 10px"></i><small><a data-i18n="msg.sendMessage" data-bind="click: sendMessage" style="cursor: pointer;"></a></small></p>
            <!-- mini buddy profile here maybe? <p><i class="fa fa-beer iconcolor" style="margin-right: 10px"></i>Buddies since <b>12.10.2003.</b> &nbsp;&nbsp;<small><a data-bind="visible: !showBuddyDetailsFlag(), click: toggleBuddyDetails" style="cursor: pointer;">more details</a></small><small><a data-bind="visible: showBuddyDetailsFlag(), click: toggleBuddyDetails" style="cursor: pointer;">hide details</a></small></p>
            <div data-bind="visible: showBuddyDetailsFlag()"  style="border: 2px solid cornflowerblue; border-radius: 10px;">
                <p style="margin-left: 30px">B-day 15.09.</p>
                <p style="margin-left: 30px">Wins in 98% games</p>
                <p style="margin-left: 30px">You have <a>5 common friends</a></p>
            </div>
            -->
        </section>
    </div>
    <!-- /ko -->
    <!-- end info -->

    <!-- stats -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingstats" data-toggle="collapse" href="#collapseStats" aria-expanded="true" aria-controls="collapseStats">
                <h4 class="panel-title">
                    <a>
                        <span data-i18n="scorer.stats" /> <small data-bind="i18n: {key: 'buddy.youAndWho', options: {who: name()}}"/>
                    </a>
                </h4>
            </div>
            <div id="collapseStats" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingStats">
                <div class="panel-body">

                    <section class="row">
                        <section class="col-sm-6 col-xs-12 col-md-6" >
                            <!-- ko if:  !matches()||matches().length===0-->
                            <p> <i class="fa fa-group iconcolor" style="margin-right: 10px"></i><span data-i18n="buddy.haventPlayedYet"/></p>
                            <!-- /ko -->
                            <!-- ko if:  matches()&&matches().length-->
                            <p><i class="fa fa-group iconcolor" style="margin-right: 10px"></i>
                                <span data-i18n="buddy.mostlyPlayWith"/> <span data-bind="foreach: mostlyPlayWith" ><a data-bind="text:name, click:$root.selectBuddy" style="cursor: pointer;" /> (<span data-bind="i18n: {key: 'scorer.matches_suffix', options: {count: count}}" />) &nbsp;</span>
                            </p>

                            <p><i class="fa fa-puzzle-piece iconcolor" style="margin-right: 10px"></i>
                                <span data-i18n="buddy.mostlyPlay"/> <span data-bind="foreach: mostlyPlay" ><a data-bind="text:name, click:$root.selectGame" style="cursor: pointer;" /> (<span data-bind="i18n: {key: 'scorer.matches_suffix', options: {count: count}}" />) &nbsp;</span>
                            </p>

                            <p>
                                <i class="fa fa-trophy iconcolor" style="margin-right: 10px"></i>
                                <span data-bind="i18n: {key: 'scorer.playedMatchesTotal', options: {count: gameStatsTotal().totalMatchesWithMe}}" />
                            </p>
                            <!-- /ko -->
                        </section>
                        <section class="col-sm-6 col-xs-12 col-md-6" >
                            <p data-bind="visible: gameStatsTotal().totalMatchesWithMe>0" style="margin-left: 30px">
                                <span data-bind="i18n: {key: 'scorer.youWonXMatches', options: {count: gameStatsTotal().iWon}}" />
                                <span data-bind="visible: mostlyWon() && gameStatsTotal().iWon>0"><span data-i18n="scorer.youMostlyWinIn" /><span data-bind="foreach: mostlyWon" ><a data-bind="text:name, click:$root.selectGame" style="cursor: pointer;" /> (<span data-bind="i18n: {key: 'scorer.matches_suffix', options: {count: count}}" />) &nbsp;</span></span>
                            </p>
                            <p data-bind="visible: gameStatsTotal().totalMatchesWithMe" style="margin-left: 30px">
                                <span data-bind="i18n: {key: 'scorer.youDidntWinXMatches', options: {count: gameStatsTotal().iLost}}" />
                                <span data-bind="visible: mostlyLost() && gameStatsTotal().iLost>0"><span data-i18n="scorer.youMostlyDontWinIn" /><span data-bind="foreach: mostlyLost" ><a data-bind="text:name, click:$root.selectGame" style="cursor: pointer;" /> (<span data-bind="i18n: {key: 'scorer.matches_suffix', options: {count: count}}" />) &nbsp;</span></span>
                            </p>
                            <p data-bind="visible: gameStatsTotal().totalMatchesWithMe && gameStatsTotal().notScoredMatchesWithMe>0" style="margin-left: 30px">
                                <span data-bind="i18n: {key: 'scorer.youDidntScoreXMatches', options: {count: gameStatsTotal().notScoredMatchesWithMe}}" />
                            </p>
                            <p data-bind="visible: gameStatsTotal().totalMatchesWithMe && gameStatsTotal().inProgressMatchesWithMe>0" style="margin-left: 30px">
                                <span data-bind="i18n: {key: 'scorer.matchesInProgressCount', options: {count: gameStatsTotal().inProgressMatchesWithMe}}" />
                            </p>
                            <p style="margin-left: 30px">
                                <i class="fa fa-info iconcolor" style="margin-right: 5px;margin-left: 10px"></i>
                                <small data-i18n="scorer.playMoreGames4MoreStats" />
                            </p>
                        </section>
                    </section>

                </div>
            </div>
        </div>
        <!-- end stats -->
        <!-- results by game -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingResults" class="collapsed" data-toggle="collapse" href="#collapseResults" aria-expanded="false" aria-controls="collapseResults">
                <h4 class="panel-title">
                    <a class="pull-right" data-bind="click: toggleResultsByGameOnlyWithUser, clickBubble: false, visible: !resultsByGameOnlyWithUser()">
                        <i data-bind="tooltip: {placement:'left', titleKey:'scorer.showWithMeOnly'}" class="fa fa-filter"></i>
                    </a>
                    <a class="pull-right" data-bind="click: toggleResultsByGameOnlyWithUser, clickBubble: false, visible: resultsByGameOnlyWithUser()">
                        <span class="fa-stack" style="margin-top: -7px" data-bind="tooltip: {placement:'left', titleKey:'scorer.showAllMatches'}">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a >
                        <span data-i18n="buddy.resultsByGame" /> <small data-bind="text: name, visible: !resultsByGameOnlyWithUser()"/> <small data-bind="i18n: {key: 'buddy.youAndWho', options: {who: name()}}, visible: resultsByGameOnlyWithUser()"/>
                    </a>
                </h4>
            </div>
            <div id="collapseResults" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingResults">
                <div class="panel-body" style="overflow:auto;">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th data-i18n="common.game"></th>
                                <th data-i18n="scorer.totalMatches"></th>
                                <th data-i18n="scorer.scoredMatches"></th>
                                <th data-i18n="scorer.wins"></th>
                                <th data-i18n="scorer.losses"></th>
                                <th data-i18n="scorer.winsAgainstMe"></th>
                                <th data-i18n="scorer.lossesToMe"></th>
                                <th data-i18n="scorer.totalTime"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: gameStats -->
                            <!-- ko if: !$root.resultsByGameOnlyWithUser() && $data.totalMatches > 0 -->
                            <tr>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: totalMatches"></td>
                                <td data-bind="text: scoredMatches"></td>
                                <td data-bind="text: wins"></td>
                                <td data-bind="text: losses"></td>
                                <td data-bind="text: specificWins"></td>
                                <td data-bind="text: specificLosses"></td>
                                <td data-bind="text: getTotalTime()"></td>
                            </tr>
                            <!-- /ko -->
                            <!-- ko if: $root.resultsByGameOnlyWithUser() && $data.totalMatchesWithMe > 0 -->
                            <tr>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: totalMatchesWithMe"></td>
                                <td data-bind="text: scoredMatchesWithMe"></td>
                                <td data-bind="text: winsWithMe"></td>
                                <td data-bind="text: lossesWithMe"></td>
                                <td data-bind="text: specificWinsWithMe"></td>
                                <td data-bind="text: specificLossesWithMe"></td>
                                <td data-bind="text: getTotalTimeWithMe()"></td>
                            </tr>
                            <!-- /ko -->
                            <!-- /ko -->
                        </tbody>
                        <tfoot>
                            <!-- ko if: !$root.resultsByGameOnlyWithUser() -->
                            <tr style="border-top-style: solid; border-top-width: 2px">
                                <td data-bind="text: gameStatsTotal().name"></td>
                                <td data-bind="text: gameStatsTotal().totalMatches"></td>
                                <td data-bind="text: gameStatsTotal().scoredMatches"></td>
                                <td data-bind="text: gameStatsTotal().wins"></td>
                                <td data-bind="text: gameStatsTotal().losses"></td>
                                <td data-bind="text: gameStatsTotal().specificWins"></td>
                                <td data-bind="text: gameStatsTotal().specificLosses"></td>
                                <td data-bind="text: gameStatsTotal().getTotalTime()"></td>
                            </tr>
                            <!-- /ko -->
                            <!-- ko if: $root.resultsByGameOnlyWithUser() -->
                            <tr style="border-top-style: solid; border-top-width: 2px">
                                <td data-bind="text: gameStatsTotal().name"></td>
                                <td data-bind="text: gameStatsTotal().totalMatchesWithMe"></td>
                                <td data-bind="text: gameStatsTotal().scoredMatchesWithMe"></td>
                                <td data-bind="text: gameStatsTotal().winsWithMe"></td>
                                <td data-bind="text: gameStatsTotal().lossesWithMe"></td>
                                <td data-bind="text: gameStatsTotal().specificWinsWithMe"></td>
                                <td data-bind="text: gameStatsTotal().specificLossesWithMe"></td>
                                <td data-bind="text: gameStatsTotal().getTotalTimeWithMe()"></td>
                            </tr>
                            <!-- /ko -->
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- end results by game -->
        <!-- results by player -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingResultsByPlayer" class="collapsed" data-toggle="collapse" href="#collapseResultsByPlayer" aria-expanded="false" aria-controls="collapseResultsByPlayer">
                <h4 class="panel-title">
                    <a class="pull-right" data-bind="click: toggleResultsByBuddyOnlyWithUser, clickBubble: false, visible: !resultsByBuddyOnlyWithUser()">
                        <i data-bind="tooltip: {placement:'left', titleKey:'scorer.showWithMeOnly'}" class="fa fa-filter"></i>
                    </a>
                    <a class="pull-right" data-bind="click: toggleResultsByBuddyOnlyWithUser, clickBubble: false, visible: resultsByBuddyOnlyWithUser()">
                        <span class="fa-stack" style="margin-top: -7px" data-bind="tooltip: {placement:'left', titleKey:'scorer.showAllMatches'}">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a >
                        <span data-i18n="scorer.resultsByBuddy" /> <small data-bind="text: name, visible: !resultsByBuddyOnlyWithUser()"/> <small data-bind="i18n: {key: 'buddy.youAndWho', options: {who: name()}}, visible: resultsByBuddyOnlyWithUser()"/>
                    </a>
                </h4>
            </div>
            <div id="collapseResultsByPlayer" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingResultsByPlayer">
                <div class="panel-body" style="overflow:auto;">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th data-i18n="common.buddy"></th>
                            <th data-i18n="scorer.totalMatches"></th>
                            <th data-i18n="scorer.scoredMatches"></th>
                            <th data-i18n="scorer.wins"></th>
                            <th data-i18n="scorer.losses"></th>
                            <th data-i18n="buddy.winsAgainstPlayer"></th>
                            <th data-i18n="buddy.lossesToPlayer"></th>
                            <th data-i18n="scorer.totalTime"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- ko foreach: playerStats -->
                        <!-- ko if: !$root.resultsByBuddyOnlyWithUser() && $data.totalMatches > 0 -->
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: totalMatches"></td>
                            <td data-bind="text: scoredMatches"></td>
                            <td data-bind="text: wins"></td>
                            <td data-bind="text: losses"></td>
                            <td data-bind="text: specificWins"></td>
                            <td data-bind="text: specificLosses"></td>
                            <td data-bind="text: getTotalTime()"></td>
                        </tr>
                        <!-- /ko -->
                        <!-- ko if: $root.resultsByBuddyOnlyWithUser() && $data.totalMatchesWithMe > 0 -->
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: totalMatchesWithMe"></td>
                            <td data-bind="text: scoredMatchesWithMe"></td>
                            <td data-bind="text: winsWithMe"></td>
                            <td data-bind="text: lossesWithMe"></td>
                            <td data-bind="text: specificWinsWithMe"></td>
                            <td data-bind="text: specificLossesWithMe"></td>
                            <td data-bind="text: getTotalTimeWithMe()"></td>
                        </tr>
                        <!-- /ko -->
                        <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end results by player -->
        <!-- matches -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMatches" class="collapsed" data-toggle="collapse" href="#collapseMatches" aria-expanded="false" aria-controls="collapseMatches">
                <h4 class="panel-title">
                    <a class="pull-right" data-bind="click: toggleMatchesOnlyWithUser, clickBubble: false, visible: !matchesOnlyWithUser()">
                        <i data-bind="tooltip: {placement:'left', titleKey:'scorer.showWithMeOnly'}" class="fa fa-filter"></i>
                    </a>
                    <a class="pull-right" data-bind="click: toggleMatchesOnlyWithUser, clickBubble: false, visible: matchesOnlyWithUser()">
                        <span class="fa-stack" style="margin-top: -7px" data-bind="tooltip: {placement:'left', titleKey:'scorer.showAllMatches'}">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a >
                        <span data-i18n="nav.matches" /> <small data-bind="text: name, visible: !matchesOnlyWithUser()"/> <small data-bind="i18n: {key: 'buddy.youAndWho', options: {who: name()}}, visible: matchesOnlyWithUser()"/>
                    </a>
                </h4>
            </div>
            <div id="collapseMatches" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMatches">
                <div class="panel-body">
                    <p data-bind="if: !matches()||matches().length===0" data-i18n="scorer.noMatchesPlayed" />
                    <div data-bind="searchList: {
                                data: matches(),
                                selectCallback: selectMatch,
                                nameField: 'game',
                                sortField: 'formattedDate4Sort',
                                sortDirection: 'desc',
                                searchCustomFields: true,
                                searchString: matchesFilter()
                                }">
                        <div data-part="item-template">
                            <div class="row">
                                <div class="col-xs-6">
                                    <i class="fa fa-calendar iconcolor" style="float: left; margin-top: 3px; margin-right: 10px"></i>  <strong data-bind="text: data.formattedDate" />
                                </div>
                                <div class="col-xs-6">
                                    <i class="fa fa-map-marker iconcolor" style="float: left; margin-top: 3px; margin-right: 10px"></i> <strong data-bind="text: data.location?data.location:'-'" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <i class="fa fa-trophy iconcolor" data-bind="visible: data.isScored" style="float: left; margin-top: 3px; margin-right: 10px"></i>
                                    <strong data-bind="visible: data.isScored, text: data.getWinners()" />
                                    <i data-i18n="scorer.gameNotScored" data-bind="visible: !data.inProgress && !data.isScored" ></i>
                                </div>
                                <div class="col-xs-6">
                                    <i class="fa fa-clock-o iconcolor" data-bind="visible: !data.inProgress" style="float: left; margin-top: 3px; margin-right: 10px"></i>
                                    <strong data-bind="visible: !data.inProgress, text: data.getCompletedTotalTime()" />

                                    <i  data-bind="visible: data.inProgress" class="fa fa-spinner fa-spin iconcolor"  style="margin-right: 10px"></i><i data-i18n="scorer.matchInProgress" data-bind="visible: data.inProgress" ></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end matches -->
        <!-- messages -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMessages" class="collapsed" data-toggle="collapse" href="#collapseMessages" aria-expanded="false" aria-controls="collapseMessages">
                <h4 class="panel-title">
                    <a >
                        <span data-i18n="msg.messages" />
                        <small data-bind="i18n: {key: 'buddy.youAndWho', options: {who: name()}}"/>
                    </a>
                </h4>
            </div>
            <div id="collapseMessages" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMessages">
                <div class="panel-body">
                    <p data-bind="if: !messages()||messages().length===0" data-i18n="msg.noMessages" />
                    <p data-bind="text: msgsError()" />
                    <div data-bind="foreach: messages">
                        <div class="row" style="margin-bottom: 5px">
                            <div class="col-xs-6 col-sm-6  col-md-6" >
                                <div data-bind="visible: folder==='sent', click: $root.selectMessage" class="panel panel-success" style="cursor: pointer;">
                                    <div class="panel-body name-overflow" >
                                        <p>"<span  data-bind="text: content" />"</p>
                                        <small  data-bind="text: $root.toMoment(dateSent).fromNow()" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6  col-md-6" >
                                <div data-bind="visible: folder==='inbox', click: $root.selectMessage" class="panel panel-info" style="cursor: pointer;">
                                    <div class="panel-body name-overflow" >
                                        <p>"<span  data-bind="text: content" />"</p>
                                        <small  data-bind="text: $root.toMoment(dateSent).fromNow()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end messages -->
    </div> <!-- end panel group -->

</section>