<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="nav.buddies"></span></h1>
    </section>

    <div data-bind="if: !buddies() || buddies().length === 0">
        <span data-i18n="scorer.noBuddiesMsg"></span>
        <!--<a style="cursor: pointer;" data-bind="click: findBuddies" data-i18n="scorer.findBuddies"></a> -->
    </div>

    <!-- ko if: (buddies() && buddies().length > 0) -->

    <div data-bind="searchList: {
                        data: buddies(),
                        selectCallback: selectBuddy,
                        sortFunction: buddySortFunction,
                        secondarySortField: 'name',
                        searchCustomFields: true,
                        customFilters: filters,
                        customFilterItemClass: 'col-xs-12',
                        addItemButtonVisible: true,
                        addItemButtonCallback: addNewBuddy
                        }">
        <div data-part="item-template">
            <div class="row">
                <div class="col-xs-6">
                    <strong data-bind="text: data.username" />

                </div>
                <div class="col-xs-6">
                    <i data-bind="visible: data.like" class="fa fa-star iconcolor" style="float: right;"></i>
                </div>
            </div>
        </div>

    </div>
    <!-- /ko -->



</section>