<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="nav.findBuddies"></span></h1>
    </section>


    <div data-bind="searchList: {
                        data: buddies(),
                        selectCallback: selectBuddy
                        }">
        <div data-part="item-template">
            <div class="row">
                <div class="col-xs-6">
                    <strong data-bind="text: data.username" />
                </div>
            </div>
        </div>

    </div>



</section>