<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="scorer.games"></span></h1>
    </section>

    <p data-bind="visible: (!games() || games().length === 0)"><span data-bind="i18n: {key: 'scorer.gamesInLibrary', options: {count: 0, context:'no'}}" /> <a data-bind="click: addNewGame" data-i18n="scorer.addGame"></a></p>

    <!-- searchList with games -->
    <!-- ko if: (games() && games().length > 0) -->
    <div data-bind="searchList: {
                        data: games(),
                        selectCallback: selectGame,
                        nameField: 'name',
                        searchCustomFields: true,
                        customFilters: filters,
                        customFilterItemClass: 'col-xs-12 col-sm-4',
                        addItemButtonVisible: true,
                        addItemButtonCallback: addNewGame
                        }">
        <div data-part="item-template">
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        <span data-bind="visible: data.played && data.dateLastPlayed, i18n: {key: 'scorer.gameLastPlayed', options: {date: data.dateLastPlayedFormatted}}" ></span>
                        <span data-bind="visible: !data.played" data-i18n="scorer.gameNotPlayedYet" />
                    </p>
                    <p data-bind="visible: data.comment">
                        <span> "<em data-bind="text: data.comment" />" </span>
                    </p>
                    <p data-bind="visible: data.owned">
                        <em style="float: right;" data-i18n="scorer.ownGame" />
                    </p>
                </div>



            </div>
        </div>

    </div>
    <!-- /ko -->
</section>