<section class="module container-fluid" xmlns="http://www.w3.org/1999/html">
    <section class="page-header">
        <h1>
            <span data-bind="text: name"></span>
        </h1>
    </section>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- info -->
        <!-- ko panel: {
            titleKey: 'common.details',
            headerButtons: [
                {click: openGameOptions.bind($root), icon: 'fa-wrench', tooltipKey: 'common.options'}
            ]
            }-->
        <div data-part="body" class="row" data-bind="with: $root">
            <section class="col-sm-6 col-xs-12 col-md-6" >
                <!-- game info -->
                <p data-bind="visible: played() || historicalDataExists()">
                    <i class="fa fa-clock-o iconcolor" style="margin-right: 10px"></i><span data-bind="i18n: {key: 'scorer.gameFirstPlayed', options: {date: firstPlayedDisplay() || '-'}}"></span>
                    <a data-bind="visible: historicalDataExists(), click: toggleFirstDateDetailsVisible"><span data-bind="visible: firstDateDetailsVisible" data-i18n="common.hide"></span><span data-bind="visible: !firstDateDetailsVisible()" data-i18n="common.details"></span></a>
                    <div data-bind="visible: firstDateDetailsVisible" class="row">
                        <span class="col-xs-11 col-xs-offset-1"><span data-i18n="scorer.historicalFistPlayedDate"></span><strong data-bind="text: historicalDateFirstPlayed"></strong> <a data-i18n="common.change" data-bind="click: historicalFirstDateChange"></a></span>
                        <span class="col-xs-11 col-xs-offset-1"><span data-i18n="scorer.firstRecordedMatch"></span><strong data-bind="text: dateFirstPlayed"></strong> <a data-i18n="scorer.recalculateGameDates" data-bind="click: recalculateGameDates"></a></span></span>
                    </div>
                </p>
                <p data-bind="visible: played() || historicalDataExists()">
                    <i class="fa fa-clock-o iconcolor" style="margin-right: 10px"></i><span data-bind="i18n: {key: 'scorer.gameLastPlayed', options: {date: lastPlayedDisplay() || '-'}}"></span>
                    <a data-bind="visible: historicalDataExists(), click: toggleLastDateDetailsVisible"><span data-bind="visible: lastDateDetailsVisible" data-i18n="common.hide"></span><span data-bind="visible: !lastDateDetailsVisible()" data-i18n="common.details"></span></a>
                    <div data-bind="visible: lastDateDetailsVisible" class="row">
                        <span class="col-xs-11 col-xs-offset-1"><span data-i18n="scorer.historicalLastPlayedDate"></span><strong data-bind="text: historicalDateLastPlayed"></strong> <a data-i18n="common.change" data-bind="click: historicalLastDateChange"></a></span>
                        <span class="col-xs-11 col-xs-offset-1"><span data-i18n="scorer.lastRecordedMatch"></span><strong data-bind="text: dateLastPlayed"></strong> <a data-i18n="scorer.recalculateGameDates" data-bind="click: recalculateGameDates"></a></span></span>
                    </div>
                </p>
                <p data-bind="visible: played() && (!matches() || matches().length==0)">
                    <small><a data-i18n="scorer.notPlayed" data-bind="click: setNotPlayed"></a></small>
                </p>
                <p data-bind="visible: !played()">
                    <i class="fa fa-clock-o iconcolor" style="margin-right: 10px"></i><span data-i18n="scorer.gameNotPlayedYet"></span>
                </p>
                <p data-bind="if: !historicalDataExists()">
                    <a data-i18n="scorer.playedThisGameBefore" data-bind="click: enterHistoricalData"></a>
                </p>
                <p>
                    <i data-bind="css: {'fa-check-square-o': ownedFlag(), 'fa-square-o': !ownedFlag() }" class="fa iconcolor"  style="margin-right: 10px"></i>
                    <span data-bind="visible: ownedFlag()" data-i18n="scorer.youOwnThisGame"></span>
                    <small><a data-bind="visible: ownedFlag(), click: toggleOwned" data-i18n="scorer.notOwned" style="cursor: pointer;"></a></small>
                    <small><a data-bind="visible: !ownedFlag(), click: toggleOwned" data-i18n="scorer.doYouOwnThisGame" style="cursor: pointer;"></a></small>
                </p>
            </section>
            <section class="col-sm-6 col-xs-12 col-md-6" >
                <p>
                    <i data-bind="css: {'fa-star': likeFlag(), 'fa-star-o': !likeFlag() }" class="fa iconcolor"  style="margin-right: 10px"></i>
                    <span data-bind="visible: likeFlag()" data-i18n="scorer.favoriteGame"></span>
                    <small><a data-bind="visible: likeFlag(), click: toggleLike" data-i18n="scorer.isThisNotAfavGame" style="cursor: pointer;"></a></small>
                    <small><a data-bind="visible: !likeFlag(), click: toggleLike" data-i18n="scorer.isThisAfavGame" style="cursor: pointer;"></a></small>
                </p>
                <p>
                    <i data-bind="css: {'fa-thumbs-up': likeToPlayFlag(), 'fa-thumbs-o-up': !likeToPlayFlag() }" class="fa iconcolor"  style="margin-right: 10px"></i>
                    <span data-bind="visible: likeToPlayFlag()" data-i18n="scorer.youLikeToPlay"></span>
                    <small><a data-bind="visible: likeToPlayFlag(), click: toggleLikeToPlay" data-i18n="scorer.dontWantToPlay" style="cursor: pointer;"></a></small>
                    <small><a data-bind="visible: !likeToPlayFlag(), click: toggleLikeToPlay" data-i18n="scorer.doWantToPlay" style="cursor: pointer;"></a></small>
                </p>
                <p>
                    <i data-bind="css: {'fa-book': knowGameFlag(), 'fa-question': !knowGameFlag() }" class="fa iconcolor"  style="margin-right: 10px"></i>
                    <span data-bind="visible: knowGameFlag()" data-i18n="scorer.youKnowThisGame"></span>
                    <small><a data-bind="visible: knowGameFlag(), click: toggleKnowGame" data-i18n="scorer.dontKnowThisGame" style="cursor: pointer;"></a></small>
                    <small><a data-bind="visible: !knowGameFlag(), click: toggleKnowGame" data-i18n="scorer.doYouKnowThisGame" style="cursor: pointer;"></a></small>
                </p>
                <p data-bind="editableField: {
                                                     icon: 'fa-comment',
                                                     titleKey: 'common.comment',
                                                     placeholderKey: 'common.enterComment',
                                                     value: comment(),
                                                     onSave: saveComment,
                                                     noTitle: true,
                                                     isItalic: true,
                                                     changeKey: 'common.editComment',
                                                     showNotSet: false
                                                }">
                </p>
            </section>
        </div>
        <!-- /ko -->
        <!-- end info -->
        <!-- stats -->
        <!-- ko panel: {
            titleKey: 'scorer.stats'
            }-->
            <div data-part="body" class="row" data-bind="with: $root">
                <section class="col-sm-6 col-xs-12 col-md-6" >
                    <!-- ko if: $data.matches()&& $data.matches().length-->
                    <p>
                        <i class="fa fa-trophy iconcolor" style="margin-right: 10px"></i>
                        <span data-bind="i18n: {key: 'scorer.playedMatchesTotal', options: {count: $data.statsTotal().totalMatchesWithMe}}" />
                    </p>
                    <!-- /ko -->

                    <!-- ko if: !$data.matches()||$data.matches().length===0-->
                    <p> <i class="fa fa-group iconcolor" style="margin-right: 10px"></i><span data-i18n="scorer.haventPlayedYet"/></p>
                    <!-- /ko -->
                    <!-- ko if: $data.matches()&&$data.matches().length-->
                    <p><i class="fa fa-group iconcolor" style="margin-right: 10px"></i>
                        <span data-i18n="scorer.mostlyPlayWith"/> <span data-bind="foreach: mostlyPlayWith" ><a data-bind="text:name, click:$parent.selectBuddy.bind($parent)" style="cursor: pointer;" /> (<span data-bind="i18n: {key: 'scorer.matches_suffix', options: {count: count}}" />) &nbsp;</span>
                    </p>
                    <!-- /ko -->

                </section>

                <section class="col-sm-6 col-xs-12 col-md-6" >
                    <p data-bind="visible: $data.statsTotal().totalMatchesWithMe>0" style="margin-left: 30px">
                        <span data-bind="i18n: {key: 'scorer.youWonXMatches', options: {count: $data.statsTotal().iWon}}" />
                            <span data-bind="visible: $data.mostlyWon() && $data.statsTotal().iWon>0" >
                                <span data-i18n="scorer.youMostlyWinPlayingWith" />
                                <span data-bind="foreach: mostlyWon" >
                                    <a data-bind="text:name, click:$parent.selectBuddy.bind($parent)" style="cursor: pointer;" /> (<span data-bind="i18n: {key: 'scorer.matches_suffix', options: {count: count}}" />) &nbsp;
                                </span>
                            </span>
                    </p>
                    <p data-bind="visible: $data.statsTotal().totalMatchesWithMe" style="margin-left: 30px">
                        <span data-bind="i18n: {key: 'scorer.youDidntWinXMatches', options: {count: $data.statsTotal().iLost}}" />
                            <span data-bind="visible: $data.mostlyLost() && $data.statsTotal().iLost>0">
                                <span data-i18n="scorer.youMostlyDontWinPlayingWith" />
                                <span data-bind="foreach: mostlyLost" >
                                    <a data-bind="text:name, click:$parent.selectBuddy.bind($parent)" style="cursor: pointer;" /> (<span data-bind="i18n: {key: 'scorer.matches_suffix', options: {count: count}}" />) &nbsp;
                                </span>
                            </span>
                    </p>
                    <p data-bind="visible: $data.statsTotal().totalMatchesWithMe && $data.statsTotal().notScoredMatchesWithMe>0" style="margin-left: 30px">
                        <span data-bind="i18n: {key: 'scorer.youDidntScoreXMatches', options: {count: $data.statsTotal().notScoredMatchesWithMe}}" />
                    </p>
                    <p data-bind="visible: $data.statsTotal().totalMatchesWithMe && $data.statsTotal().inProgressMatchesWithMe>0" style="margin-left: 30px">
                        <span data-bind="i18n: {key: 'scorer.matchesInProgressCount', options: {count: $data.statsTotal().inProgressMatchesWithMe}}" />
                    </p>
                    <p style="margin-left: 30px">
                        <i class="fa fa-info iconcolor" style="margin-right: 5px;margin-left: 10px"></i>
                        <small data-i18n="scorer.playMoreGames4MoreStats" />
                    </p>
                </section>
            </div>
        <!-- /ko -->
        <!-- end stats -->
        <!-- results by player -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingResultsByPlayer" class="collapsed" data-toggle="collapse" href="#collapseResultsByPlayer" aria-expanded="false" aria-controls="collapseResultsByPlayer">
                <h4 class="panel-title">
                    <a class="pull-right" data-bind="click: toggleResultsByBuddyOnlyWithUser, clickBubble: false, visible: !resultsByBuddyOnlyWithUser()">
                        <i data-bind="tooltip: {placement:'left', titleKey:'scorer.showWithMeOnly'}" class="fa fa-filter"></i>
                    </a>
                    <a class="pull-right" data-bind="click: toggleResultsByBuddyOnlyWithUser, clickBubble: false, visible: resultsByBuddyOnlyWithUser()">
                        <span class="fa-stack" style="margin-top: -7px" data-bind="tooltip: {placement:'left', titleKey:'scorer.showAllMatches'}">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a >
                        <span data-i18n="scorer.resultsByBuddy" />
                    </a>
                </h4>
            </div>
            <div id="collapseResultsByPlayer" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingResultsByPlayer">
                <div class="panel-body" style="overflow:auto;">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th data-i18n="common.buddy"></th>
                            <th data-i18n="scorer.totalMatches"></th>
                            <th data-i18n="scorer.scoredMatches"></th>
                            <th data-i18n="scorer.wins"></th>
                            <th data-i18n="scorer.losses"></th>
                            <th data-i18n="scorer.winsAgainstMe"></th>
                            <th data-i18n="scorer.lossesToMe"></th>
                            <th data-i18n="scorer.totalTime"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- ko foreach: stats -->
                        <!-- ko if: !$root.resultsByBuddyOnlyWithUser() && $data.totalMatches > 0 -->
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: totalMatches"></td>
                            <td data-bind="text: scoredMatches"></td>
                            <td data-bind="text: wins"></td>
                            <td data-bind="text: losses"></td>
                            <td data-bind="text: specificWins"></td>
                            <td data-bind="text: specificLosses"></td>
                            <td data-bind="text: getTotalTime()"></td>
                        </tr>
                        <!-- /ko -->
                        <!-- ko if: $root.resultsByBuddyOnlyWithUser() && $data.totalMatchesWithMe > 0 -->
                        <tr data-bind="if: $root.resultsByBuddyOnlyWithUser() && $data.totalMatchesWithMe > 0">
                            <td data-bind="text: name"></td>
                            <td data-bind="text: totalMatchesWithMe"></td>
                            <td data-bind="text: scoredMatchesWithMe"></td>
                            <td data-bind="text: winsWithMe"></td>
                            <td data-bind="text: lossesWithMe"></td>
                            <td data-bind="text: specificWinsWithMe"></td>
                            <td data-bind="text: specificLossesWithMe"></td>
                            <td data-bind="text: getTotalTimeWithMe()"></td>
                        </tr>
                        <!-- /ko -->
                        <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end results by player -->
        <!-- matches -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMatches" class="collapsed" data-toggle="collapse" href="#collapseMatches" aria-expanded="false" aria-controls="collapseMatches">
                <h4 class="panel-title">
                    <a class="pull-right" data-bind="click: toggleMatchesOnlyWithUser, clickBubble: false, visible: !matchesOnlyWithUser()">
                        <i data-bind="tooltip: {placement:'left', titleKey:'scorer.showWithMeOnly'}" class="fa fa-filter"></i>
                    </a>
                    <a class="pull-right" data-bind="click: toggleMatchesOnlyWithUser, clickBubble: false, visible: matchesOnlyWithUser()">
                        <span class="fa-stack" style="margin-top: -7px" data-bind="tooltip: {placement:'left', titleKey:'scorer.showAllMatches'}">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a >
                        <span data-i18n="nav.matches" />
                    </a>
                </h4>
            </div>
            <div id="collapseMatches" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMatches">
                <div class="panel-body">
                    <p data-bind="if: !matches()||matches().length===0" data-i18n="scorer.noMatchesPlayed" />
                    <div data-bind="searchList: {
                                data: matches(),
                                selectCallback: selectMatch,
                                nameField: 'game',
                                sortField: 'formattedDate4Sort',
                                sortDirection: 'desc',
                                searchCustomFields: true,
                                searchString: matchesFilter()
                                }">
                        <div data-part="item-template">
                            <div class="row">
                                <div class="col-xs-6">
                                    <i class="fa fa-calendar iconcolor" style="float: left; margin-top: 3px; margin-right: 10px"></i>  <strong data-bind="text: data.formattedDate" />
                                </div>
                                <div class="col-xs-6">
                                    <i class="fa fa-map-marker iconcolor" style="float: left; margin-top: 3px; margin-right: 10px"></i> <strong data-bind="text: data.location?data.location:'-'" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <i class="fa fa-trophy iconcolor" data-bind="visible: data.isScored" style="float: left; margin-top: 3px; margin-right: 10px"></i>
                                    <strong data-bind="visible: data.isScored, text: data.getWinners()" />
                                    <i data-i18n="scorer.gameNotScored" data-bind="visible: !data.inProgress && !data.isScored" ></i>
                                </div>
                                <div class="col-xs-6">
                                    <i class="fa fa-clock-o iconcolor" data-bind="visible: !data.inProgress" style="float: left; margin-top: 3px; margin-right: 10px"></i>
                                    <strong data-bind="visible: !data.inProgress, text: data.getCompletedTotalTime()" />

                                    <i  data-bind="visible: data.inProgress" class="fa fa-spinner fa-spin iconcolor"  style="margin-right: 10px"></i><i data-i18n="scorer.matchInProgress" data-bind="visible: data.inProgress" ></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end matches -->
    </div>

</section>