<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="scoreSharing.getMatches"></span></h1>
    </section>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <!-- playerToBuddyMapping -->
    <!-- ko panel: {
        titleKey: 'scoreSharing.mapping',
        buttons: [
            {
                columnClass: 'col-xs-6 col-sm-4',
                click: $root.clickNext.bind($root),
                titleKey: $root.stepper.data().buttonKey
            }
        ]
        }-->
    <div data-part="body" class="table-responsive" data-bind="with: $root">
        <!-- ko if: stepper.nextStepName() == 'playerMapping' -->
        <table id="mapping" class="table table-striped">
            <thead>
            <tr class="firstHeader">
                <th>Name</th>
                <th>Maps to me</th>
                <th>Maps to anonymous</th>
                <th>Maps to new buddy</th>
                <th>Maps to buddy</th>
                <th>Import all matches</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: mappings">
            <tr>
                <td data-bind="text: sourceName"></td>
                <td>
                    <!-- ko if: !isAnonymous() && !doAddNew() && !buddyId() -->
                    <input type="checkbox" data-bind="switch: {value: isMe, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}"/>
                    <!-- /ko -->
                </td>
                <td>
                    <!-- ko if: !isMe() && !doAddNew() && !buddyId() -->
                    <input type="checkbox" data-bind="switch: {value: isAnonymous, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}"/>
                    <!-- /ko -->
                </td>
                <td>
                    <!-- ko if: !isMe() && !isAnonymous() && !buddyId() -->
                    <input type="checkbox" data-bind="switch: {value: doAddNew, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}"/>
                    <!-- /ko -->
                    <!-- ko if: doAddNew -->
                    <div class="form-group">
                        <label for="enterName" data-i18n="common.name"></label>
                        <input id="enterName" type="text" class="form-control" data-i18n="[placeholder]common.name" data-bind="value: newBuddyName, valueUpdate: 'afterkeydown'" />
                    </div>
                    <!-- /ko -->
                </td>
                <td>
                    <!-- ko if: !isMe() && !isAnonymous() && !doAddNew() -->
                    <select class="form-control"
                        data-bind="options: $root.buddies,
                        optionsText: 'name',
                        value: buddyId,
                        optionsValue: '_id',
                        optionsCaption: 'pick a buddy'">
                    </select>
                    <!-- /ko -->
                </td>
                <td>
                    <input type="checkbox" data-bind="switch: {value: importAllSourceMatches, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- /ko -->
        <!-- ko if: stepper.nextStepName() == 'gameMapping' -->
        <table id="mapping" class="table table-striped">
            <thead>
            <tr class="firstHeader">
                <th>Name</th>
                <th>Maps to new game</th>
                <th>Maps to game</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: gameMappings">
            <tr>
                <td data-bind="text: sourceName"></td>
                <td>
                    <!-- ko if: !gameId() -->
                    <input type="checkbox" data-bind="switch: {value: doAddNew, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}"/>
                    <!-- /ko -->
                    <!-- ko if: doAddNew -->
                    <div class="form-group">
                        <label for="enterGameName" data-i18n="common.name"></label>
                        <input id="enterGameName" type="text" class="form-control" data-i18n="[placeholder]common.name" data-bind="value: newGameName, valueUpdate: 'afterkeydown'" />
                    </div>
                    <!-- /ko -->
                </td>
                <td>
                    <!-- ko if: !doAddNew() -->
                    <select class="form-control"
                            data-bind="options: $root.games,
                        optionsText: 'name',
                        value: gameId,
                        optionsValue: '_id',
                        optionsCaption: 'pick a game'">
                    </select>
                    <!-- /ko -->
                </td>
            </tr>
            </tbody>
        </table>
        <!-- /ko -->
        <!-- ko if: stepper.nextStepName() == 'matchOverview' -->
        <table id="matches" class="table table-striped">
            <thead>
            <tr class="firstHeader">
                <th>Date</th>
                <th>Game</th>
                <th>Players</th>
                <th>Include</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: matches">
            <tr>
                <td data-bind="moment: date"></td>
                <td >
                    <span data-bind="text: game"></span> <i class="fa fa-info-circle" data-bind="tooltip: {title: gameMapping.sourceName}"></i>
                </td>
                <td>
                    <table class="table table-striped">
                        <thead>
                        <tr class="firstHeader">
                            <th>Name</th>
                            <th>Result</th>
                            <th>Rank</th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: players">
                            <tr>
                                <td>
                                    <!-- ko if: name -->
                                    <span data-bind="text: name"></span>
                                    <!-- /ko -->
                                    <!-- ko if: isUser -->
                                    <strong>me</strong>
                                    <!-- /ko -->
                                    <!-- ko if: isAnonymous -->
                                    <em >unknown</em>
                                    <!-- /ko -->
                                    <i class="fa fa-info-circle" data-bind="tooltip: {title: playerMapping.sourceName}"></i>
                                </td>

                                <td data-bind="text: result"></td>
                                <td data-bind="text: rank"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <input type="checkbox" data-bind="switch: {value: included, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}"/>
                </td>

            </tr>
            </tbody>
        </table>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- end playerToBuddyMapping -->
    </div>
</section>