<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="scorer.lastMatches"></span></h1>
    </section>

    <div data-bind="searchList: {
                        data: matches(),
                        selectCallback: selectMatch,
                        nameField: 'game',
                        sortField: 'formattedDate4Sort',
                        sortDirection: 'desc',
                        searchCustomFields: true,
                        customFilters: filters,
                        customFilterItemClass: 'col-xs-12 col-sm-4',
                        addItemButtonVisible: true,
                        addItemButtonCallback: startNewMatch
                        }">
        <div data-part="item-template">
            <div class="row">
                <div class="col-xs-6">
                    <i data-bind= "tooltip: {placement: 'top', titleKey: 'common.date'}" class="fa fa-calendar iconcolor" style="float: left; margin-top: 3px; margin-right: 10px"></i>  <strong data-bind="text: data.formattedDate" />
                </div>
                <div class="col-xs-6">
                    <i data-bind= "tooltip: {placement: 'top', titleKey: 'common.location'}" class="fa fa-map-marker iconcolor" style="float: left; margin-top: 3px; margin-right: 10px"></i> <strong data-bind="text: data.location?data.location:'-'" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <i class="fa fa-trophy iconcolor" data-bind="visible: data.isScored, tooltip: {placement: 'top', titleKey: 'scorer.winner'}" style="float: left; margin-top: 3px; margin-right: 10px"></i>
                    <strong data-bind="visible: data.isScored, text: data.getWinners()" />
                    <i data-i18n="scorer.gameNotScored" data-bind="visible: !data.inProgress && !data.isScored" ></i>
                </div>
                <div class="col-xs-6">
                    <i class="fa fa-clock-o iconcolor" data-bind="visible: !data.inProgress, tooltip: {placement: 'top', titleKey: 'scorer.duration'}" style="float: left; margin-top: 3px; margin-right: 10px"></i>
                    <strong data-bind="visible: !data.inProgress, text: data.getCompletedTotalTime()" />

                    <i  data-bind="visible: data.inProgress, tooltip: {placement: 'top', titleKey: 'scorer.matchInProgress'}" class="fa fa-spinner fa-spin iconcolor"  style="margin-right: 10px"></i><i data-i18n="scorer.matchInProgress" data-bind="visible: data.inProgress" ></i>
                </div>
            </div>
        </div>

    </div>

</section>