<section class="module container-fluid">
    <div class="page-header">
        <h1 data-i18n="scorer.startNewMatch"></h1>
    </div>
    <form role="form">
        <div class="form-group">
            <label for="gameName" data-i18n="common.game"></label>
            <small style="margin-left: 30px" data-bind="visible: gameSuggestion()"> <span data-i18n="scorer.suggestGame" />: <a data-bind="text: gameSuggestion(), click:selectSuggestedGame"></a> </small>
            <input type="text" class="form-control typeahead" id="gameName" data-i18n="[placeholder]common.enterGameName"
                   data-bind="
                        value: game,
                        valueUpdate: 'keyup',
                        typeahead: {
                            datums: gameSuggestions,
                            itemId: gameId
                        }
                   ">
        </div>
        <div class="form-group">
            <label for="location" data-i18n="common.location"></label>
            <small style="margin-left: 30px" data-bind="visible: locationSuggestion()"> <span data-i18n="scorer.suggestLocation" />: <a data-bind="text: locationSuggestion(), click:selectSuggestedLocation"></a> </small>
            <input type="text" class="form-control" id="location" data-i18n="[placeholder]common.enterLocation" data-bind="value: location">
        </div>
        <section class="btn-group btn-group-justified" data-bind="visible: matchPhaseTypes().length > 0">
            <section class="btn-group">
                <button type="button" class="btn btn-success  btn-lg" data-i18n="common.start" data-bind="click: startSave, disable: savePending() || !game()"></button>
            </section>
            <section class="btn-group">
                <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
                    <span data-bind="text: matchPhaseType().name"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" data-bind="foreach: matchPhaseTypes">
                    <li data-bind="click: $parent.matchPhaseTypeChosen"><a data-bind="text: name"></a></li>
                </ul>
            </section>
        </section>
    </form>
</section>