<!-- TODO translate -->
<section class="module container-fluid">
    <div class="row">
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'scorer.startMatch', action: startNewMatch}, visible: !lastMatch().inProgress">
            <div data-part="content">
                <h3 data-i18n="scorer.noMatchInProgress"></h3>
                <p data-bind="visible: $root.matches().length > 0"><span data-i18n="scorer.lastMatchPlayed"></span>: <strong data-bind="text: $root.lastMatch().game"></strong>, <span data-bind="text: $root.lastMatch().dateFromNow"></span></p>
                <!--<p data-bind="visible: $root.matches().length === 0" data-i18n="scorer.noMatchesPlayed"></p>-->
            </div>
        </div>

        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'scorer.seeMatchInProgress', action: viewMatch}, visible: lastMatch().inProgress">
            <div data-part="content">
                <h3 data-i18n="scorer.matchInProgress"></h3>
                <p><strong data-bind="text: $root.lastMatch().game"></strong>, <span data-bind="text: $root.lastMatch().dateFromNow"></span></p>
            </div>
        </div>

        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'scorer.seeAllMatches', action: viewAllMatches}">
            <div data-part="content">
                <h3 data-i18n="scorer.lastMatches"></h3>
                <p data-bind="if:$root.matches().length===0" data-i18n="scorer.haventPlayedMatchesYet"></p>
                <table class="table" data-bind="foreach: $root.matches">
                    <tr>
                        <!-- ko if: inProgress -->
                        <td data-i18n="scorer.inProgress"></td>
                        <!-- /ko -->
                        <!-- ko ifnot: inProgress -->
                        <td data-bind="text: formattedDate"></td>
                        <!-- /ko -->
                        <td data-bind="text: game"></td>
                        <td><span data-bind="text: location"></span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'See all stats', action: viewStats}">
            <div data-part="content">
                <h3 data-i18n="scorer.stats"></h3>
                <p>
                    <span data-bind="i18n: {key: 'scorer.playedMatchesThisMonth', options: {count: $root.stats().totalGamesPlayed, diff: $root.stats().diffGamesCount, context:$root.stats().totalGamesPlayed>0?$root.stats().totalGamesPlayed:'no'}}" />
                </p>
                <div data-bind="if: $root.stats().totalGamesPlayed>0">
                    <p>
                        <span data-i18n="scorer.mostPlayedGameThisMonth" />:
                        <strong>
                            <span data-bind="text:  $root.stats().mostPlayedGame[0]" />
                            <span data-bind="
                                visible:$root.stats().mostPlayedGame.length>1,
                                tooltip: {placement: 'top', title: $root.stats().mostPlayedGame},
                                i18n: {key: 'scorer.andMore', options: {count: $root.stats().mostPlayedGame.length-1}}" />

                        </strong>
                        (<span data-bind="i18n: {key: 'scorer.matches_suffix', options: {count: $root.stats().mostPlayedGameCount}}" />)
                    </p>
                   <!-- <p><span data-i18n="scorer.differentGamesPlayedThisMonth" />: <strong><span data-bind="text:  $root.stats().diffGamesCount" /> </strong></p>-->
                    <p>
                        <span data-i18n="scorer.hangingOutMostWithThisMonth" />
                        <strong>
                            <span data-bind="text:  $root.stats().mostPlayedBuddy[0]" />
                            <span data-bind="
                                visible:$root.stats().mostPlayedBuddy.length>1,
                                tooltip: {placement: 'top', title: $root.stats().mostPlayedBuddy},
                                i18n: {key: 'scorer.andMore', options: {count: $root.stats().mostPlayedBuddy.length-1}}" />
                        </strong>
                        (<span data-bind="i18n: {key: 'scorer.matches_suffix', options: {count: $root.stats().mostPlayedBuddyCount}}" />)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'Manage games', action: viewGames}">
            <div data-part="content">
                <h3 data-i18n="scorer.games" />
                <p data-bind="i18n: {key: 'scorer.youPlayDiffGames', options: {count: $parent.gamesPlayed()}}" />
                <p data-bind="i18n: {key: 'scorer.youOwnGames', options: {count: $parent.gamesOwned()}}" />
                <p data-bind="i18n: {key: 'scorer.gamesInLibrary', options: {count: $parent.games().length}}" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'Manage buddies', action: buddies}">
            <div data-part="content">
                <h3><span data-i18n="nav.buddies"></span></h3>
                <p data-bind="i18n: {key: 'buddy.youPlayWithBuddies', options: {count: $parent.buddyCount()}}"></p>

            </div>
        </div>
    </div>
</section>