<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-bind="text: name"></span></h1>
    </section>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- playedInYear -->
        <!-- ko panel: {
                    headerButtons: [
                        { tooltipKey: 'common.filter', click: $root.selectYear.bind($root), icon: 'fa-filter'},
                    ],
                }-->

        <a data-part="header-text">
            <span data-i18n="scorer.playedIn"/>  <span data-bind="if: $root.currentYear()>-1,"><small data-bind="text: $root.currentYear" /></span>
        </a>
        <div data-part="body" class="row">
            <!-- ko with: $root -->
            <section class="col-xs-12 col-sm-6 col-md-6" >
                <p>
                    <i class="fa fa-trophy iconcolor" style="margin-right: 10px"></i>
                    <span data-bind="i18n: {key: 'scorer.played', options: {context: bgUserSex}}" /> <span data-bind="i18n: {key: 'scorer.matches_suffix', options: {count: yearDetailsStats().total}}" /> (<span data-bind="text: yearDetailsStats().differentGames" /> <span data-i18n="scorer.differentGames" />)
                </p>
                <p style="margin-left: 28px">
                    <span data-bind="i18n: {key: 'scorer.wonMatches', options: {count: yearDetailsStats().wins, context: bgUserSex}}" />
                </p>
                <p style="margin-left: 28px">
                    <span data-bind="i18n: {key: 'scorer.mostlyPlayed', options: {context: bgUserSex}}" />
                                <span data-bind="foreach: yearDetailsStats().mostlyPlayed" >
                                    <a data-bind="text:name, click: $root.selectGame" />
                                </span>
                    (<span data-bind="text: yearDetailsStats().mostlyPlayedMatchesCount" /> <span data-i18n="scorer.matches" />)
                </p>

            </section>
            <section class="col-sm-6 col-xs-12 col-md-6" >
                <p>
                    <i class="fa fa-group iconcolor" style="margin-right: 10px"></i>
                    <span data-bind="i18n: {key: 'scorer.playedWithXdifferentBuddies', options: {count: yearDetailsStats().buddies.length, context: bgUserSex}}" />
                </p>

                <p style="margin-left: 28px">
                    <span data-bind="i18n: {key: 'scorer.mostlyPlayedWith', options: {context: bgUserSex}}" />
                                <span data-bind="foreach: yearDetailsStats().mostlyPlayedWith" >
                                    <a data-bind="text:name, click: $root.selectBuddy" />
                                </span>
                    (<span data-bind="text: yearDetailsStats().mostlyPlayedWithMatchesCount" /> <span data-i18n="scorer.matches" />)
                </p>
            </section>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- end playedInYear -->

        <!-- statsByMonth -->
        <!-- ko panel: {
                    headerButtons: [
                        { tooltipKey: 'common.filter', click: $root.selectYear.bind($root), icon: 'fa-filter'},
                    ],
                }-->

        <a data-part="header-text">
            <span data-i18n="scorer.statsByMonth"/>  <span data-bind="if: $root.currentYear()>-1,"><small data-bind="text: $root.currentYear" /></span>
        </a>
        <div data-part="body">
            <!-- ko with: $root -->
            <div class="row"  data-bind="foreach: monthsStats">
                <div class="col-xs-12 col-sm-6 col-md-4" data-bind="hub: {actionTextKey: $parent.detailsAction, action: $parent.selectMonth, data: $data, context: $parent}">
                    <div data-part="content">
                        <h3><span data-bind="text: data.month.name" ></span> <small data-bind="text: data.year" ></small></h3>
                        <div data-bind="if: $root.detailsType()==1">
                            <h3 style="text-align: center;" data-i18n="scorer.games"></h3>
                            <table class="table">
                                <tbody data-bind="foreach: data.games">
                                <tr>
                                    <td align="left">
                                        <span data-bind="visible:isNew, text: game, tooltip: {placement: 'top', titleKey: 'scorer.new'}" class="newGame"></span>
                                        <span data-bind="visible:isOutOfDust&&!isNew, text: game, tooltip: {placement: 'top', titleKey: 'scorer.outOfDust'}"  class="outOfDustGame"></span>
                                        <span data-bind="visible:(!isOutOfDust&&!isNew), text: game"></span>
                                    </td>
                                    <td align="right">
                                        <strong data-bind="text: count"></strong>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td><em data-bind="if: data.totals.total===0" data-i18n="scorer.noMatches" />
                                        <strong data-bind="if: data.totals.total>0" data-i18n="scorer.total" />
                                    </td>
                                    <td align="right"><strong data-bind="visible: data.totals.total>0, text: data.totals.total" /></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div data-bind="if: $root.detailsType()==3">
                            <h3 style="text-align: center;" data-i18n="scorer.buddies"></h3>
                            <table class="table">
                                <tbody data-bind="foreach: data.buddies">
                                <tr>
                                    <td align="left">
                                        <span data-bind="text: name"></span>
                                    </td>
                                    <td align="right">
                                        <strong data-bind="text: gameCount"></strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div data-bind="if: $root.detailsType()==0">
                            <h3 style="text-align: center;" data-i18n="scorer.stats"></h3>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td align="left">
                                        <span data-i18n="scorer.matches"></span>:
                                    </td>
                                    <td align="right">
                                        <strong data-bind="text: data.totals.total"></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span data-i18n="scorer.scoredMatches"></span>:
                                    </td>
                                    <td align="right">
                                        <strong data-bind="text: data.totals.scoredMatches"></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span data-i18n="scorer.wonMatchesLabel"></span>:
                                    </td>
                                    <td align="right">
                                        <strong data-bind="text: data.totals.wins"></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span data-i18n="scorer.differentGamesLabel"></span>:
                                    </td>
                                    <td align="right">
                                        <strong data-bind="text: data.games.length"></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" class="newGame">
                                        <span data-i18n="scorer.newGames"></span>:
                                    </td>
                                    <td align="right">
                                        <strong data-bind="text: data.totals.newGames"></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" class="outOfDustGame">
                                        <span data-i18n="scorer.outOfDustGames"></span>:
                                    </td>
                                    <td align="right">
                                        <strong data-bind="text: data.totals.outOfDustGames"></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span data-i18n="scorer.differentBuddies"></span>:
                                    </td>
                                    <td align="right">
                                        <strong data-bind="text: data.buddies.length"></strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div data-bind="if: $root.detailsType()==2">
                            <h3 style="text-align: center;" data-i18n="scorer.top10Hotlist"></h3>
                            <table class="table">
                                <tbody data-bind="foreach: data.hotlist">
                                <tr>
                                    <td align="left">
                                        <span data-bind="text: game"></span>
                                    </td>
                                    <td align="right">
                                        <strong data-bind="text: count"></strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ko if: $index() % 2 == 1 -->
                <div class="clearfix visible-sm"></div>
                <!-- /ko -->
                <!-- ko if: $index() % 3 == 2 -->
                <div class="clearfix visible-md visible-lg"></div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- end statsByMonth -->

        <!-- results by game -->
        <!-- ko panel: {}-->
        <a data-part="header-text">
            <span data-i18n="buddy.resultsByGame" />
        </a>
        <div data-part="body">
            <!-- ko with: $root -->
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th data-i18n="common.game"></th>
                    <th data-i18n="scorer.totalMatches"></th>
                    <th data-i18n="scorer.scoredMatches"></th>
                    <th data-i18n="scorer.wins"></th>
                    <th data-i18n="scorer.losses"></th>
                    <th data-i18n="scorer.totalTime"></th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: personalGameStats -->
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: totalMatches"></td>
                    <td data-bind="text: scoredMatches"></td>
                    <td data-bind="text: wins"></td>
                    <td data-bind="text: losses"></td>
                    <td data-bind="text: getTotalTime()"></td>
                </tr>
                <!-- /ko -->
                </tbody>
                <tfoot>
                <tr style="border-top-style: solid; border-top-width: 2px">
                    <td data-bind="text: personalGameStatsTotal().name"></td>
                    <td data-bind="text: personalGameStatsTotal().totalMatches"></td>
                    <td data-bind="text: personalGameStatsTotal().scoredMatches"></td>
                    <td data-bind="text: personalGameStatsTotal().wins"></td>
                    <td data-bind="text: personalGameStatsTotal().losses"></td>
                    <td data-bind="text: personalGameStatsTotal().getTotalTime()"></td>
                </tr>
                </tfoot>
            </table>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- end results by game -->


        <!-- results by player -->
        <!-- ko panel: {}-->
        <a data-part="header-text">
            <span data-i18n="scorer.resultsByBuddy" />
        </a>
        <div data-part="body">
            <!-- ko with: $root -->
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th data-i18n="common.buddy"></th>
                    <th data-i18n="scorer.totalMatches"></th>
                    <th data-i18n="scorer.scoredMatches"></th>
                    <th data-i18n="scorer.wins"></th>
                    <th data-i18n="scorer.losses"></th>
                    <th data-i18n="buddy.winsAgainstPlayer"></th>
                    <th data-i18n="buddy.lossesToPlayer"></th>
                    <th data-i18n="scorer.totalTime"></th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: personalPlayerStats -->
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: totalMatches"></td>
                    <td data-bind="text: scoredMatches"></td>
                    <td data-bind="text: wins"></td>
                    <td data-bind="text: losses"></td>
                    <td data-bind="text: specificWins"></td>
                    <td data-bind="text: specificLosses"></td>
                    <td data-bind="text: getTotalTime()"></td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- end results by players -->
    </div>

</section>