<section class="module container-fluid">
    <section>
        <section class="page-header">
            <h1><a data-bind="text: match.gameName(), click: goToGame"></a> <small><span data-bind="text: match.location()"></span></small></h1>
        </section>
        <!-- panel group -->
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <!-- info -->
            <!-- ko panel: {
            titleKey: 'common.info',
            headerButtons: [{click: openMatchOptions.bind($root), icon: 'fa-wrench', tooltipKey: 'common.options'}]
            }-->
            <div data-part="body" class="row" data-bind="with: $root">
                <div class="col-sm-6">
                    <p data-bind="editableField: {
                                                     icon: 'fa-location-arrow',
                                                     titleKey: 'common.location',
                                                     placeholderKey: 'common.enterLocation',
                                                     value: match.location(),
                                                     onSave: saveLocation
                                                }">
                    </p>
                    <p data-bind="editableField: {
                                                     icon: 'fa-calendar',
                                                     titleKey: 'common.date',
                                                     placeholderKey: 'common.enterDate',
                                                     value: match.getMatchModel().date,
                                                     onSave: saveDate
                                                }">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>
                        <i data-bind="css: {'fa-institution': match.getMatchModel().isGameOutOfDust, 'fa-question': !match.getMatchModel().isOutOfDust }" class="fa iconcolor"  style="margin-right: 10px"></i>
                        <span data-bind="visible: match.getMatchModel().isGameOutOfDust" data-i18n="scorer.gameOutOfDust"></span>
                        <small><a data-bind="visible: match.getMatchModel().isGameOutOfDust, click: toggleOutOfDust" data-i18n="scorer.notOutOfDust" style="cursor: pointer;"></a></small>
                        <small><a data-bind="visible: !match.getMatchModel().isGameOutOfDust, click: toggleOutOfDust" data-i18n="scorer.wasOutOfDust" style="cursor: pointer;"></a></small>
                    </p>
                    <p>
                        <i data-bind="css: {'fa-star': match.getMatchModel().isNewGame, 'fa-star-o': !match.getMatchModel().isNewGame }" class="fa iconcolor"  style="margin-right: 10px"></i>
                        <span data-bind="visible: match.getMatchModel().isNewGame" data-i18n="scorer.gameNew"></span>
                        <small><a data-bind="visible: match.getMatchModel().isNewGame, click: toggleNewGame" data-i18n="scorer.notNewGame" style="cursor: pointer;"></a></small>
                        <small><a data-bind="visible: !match.getMatchModel().isNewGame, click: toggleNewGame" data-i18n="scorer.wasNewGame" style="cursor: pointer;"></a></small>
                    </p>
                </div>
            </div>
            <!-- /ko -->
            <!-- end info -->
            <!-- times -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">
                        <a class="pull-right" data-bind="click: editPhases, clickBubble: false">
                            <i data-bind="visible: !editingPhases(), tooltip: {placement:'left', titleKey:'scorer.editPhasesTooltip'}" class="fa fa-edit"></i>
                            <i data-bind="visible: editingPhases(), tooltip: {placement:'left', titleKey:'common.done'}" class="fa fa-check"></i>
                        </a>
                        <a>
                            <span data-i18n="scorer.playingTime" />
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div style="margin-bottom:10px" data-bind="visible: editingPhases()">
                            <button class="btn btn-primary" data-i18n="scorer.addPhase" data-bind="click: addPhase"></button>
                            <button class="btn btn-default" data-i18n="common.undo" data-bind="click: undoPhaseChanges, visible: undoPhasesAvailable()">Undo</button>
                        </div>
                        <section class="row">
                            <!-- ko foreach: match.getMatchModel().getCompletedPhases() -->
                            <section class="col-sm-3 col-xs-4 col-md-2">
                                <!-- ko if: !$root.editingPhases() -->
                                <section class="well finished-phase match-phase">
                                    <h3 data-bind="text: timeObservable"></h3>
                                    <strong data-bind="text: name"></strong>
                                </section>
                                <!-- /ko -->
                                <!-- ko if: $root.editingPhases() -->
                                <section data-bind="hub: {action: $parent.editPhase, data: $data, actionTextKey: 'scorer.editPhase'}">
                                    <section data-part="content">
                                        <h3 data-bind="text: data.timeObservable"></h3>
                                        <strong data-bind="text: data.name"></strong>
                                    </section>
                                </section>
                                <!-- /ko -->
                            </section>
                            <!-- /ko -->
                            <section class="col-sm-3 col-xs-4 col-md-2">
                                <section class="well match-phase">
                                    <h3 data-bind="text: match.totalTime()"></h3>
                                    <strong data-i18n="scorer.totalPlayTime"></strong>
                                </section>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
            <!-- end times -->
            <!-- players -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo" class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4 class="panel-title">
                        <a class="pull-right" data-bind="click: editPlayers, clickBubble: false">
                            <i data-bind="visible: !editingPlayers(), tooltip: {placement:'left', titleKey:'scorer.editPlayersTooltip'}" class="fa fa-edit"></i>
                            <i data-bind="visible: editingPlayers(), tooltip: {placement:'left', titleKey:'common.done'}" class="fa fa-check"></i>
                        </a>
                        <a >
                            <span data-i18n="scorer.playersNscores" />
                        </a>
                    </h4>

                </div>
                <div id="collapseTwo" class="panel-collapse collapse in " role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div style="margin-bottom:10px" data-bind="visible: editingPlayers()">
                            <button class="btn btn-primary" data-i18n="scorer.addPlayer" data-bind="click: addPlayer"></button>
                            <button class="btn btn-primary" data-i18n="scorer.editScores" data-bind="disable: match.players().length == 0, click: editScores">Edit scores</button>
                            <button class="btn btn-default" data-i18n="common.undo" data-bind="click: undoPlayerChanges, visible: undoPlayersAvailable()">Undo</button>
                        </div>
                        <section class="row">
                            <section data-bind="foreach: match.players()">
                                <section class="col-sm-3 col-xs-6" data-bind="hub: {action: $parent.playerAction, data: $data, actionTextKey: $parent.playerActionKey}">
                                    <section data-part="content">
                                        <i class="fa fa-trophy fa-2x iconcolor" data-bind="visible: data.winner" style="float: right; margin-right: 10px"></i>
                                        <h3 class="name-overflow" data-bind="visible: data.isAnonymous"><em data-i18n="scorer.unknown"></em></h3>
                                        <h3 class="name-overflow" data-bind="text: data.name, visible: data.name"></h3>
                                        <h3 class="name-overflow" data-bind="visible: data.isUser" data-i18n="scorer.me"></h3>
                                        <section data-bind="if: $root.match.isScored()">
                                            <p> <span data-i18n="scorer.rank"></span>: <span data-bind="text: data.rank?data.rank:'-'"></span></p>
                                            <p> <span data-i18n="scorer.score"></span>: <span data-bind="text: data.result?data.result:'-'"></span></p>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                        <section data-bind="if: !match.isScored()" class="row">
                            <section class="col-sm-12 col-xs-12 col-md-12">
                                <small><span data-i18n="scorer.gameNotScored"></span></small>
                            </section>
                        </section>
                     </div>
                </div>
            <!-- end players -->
            </div>
        </div> <!-- end panel group -->

    </section>
</section>