<section class="module container-fluid">
    <section class="page-header">
        <h1>
            <span class="gameInfoLabel" data-bind="css: {gameInfoLabel: match.gameInfoClass()},addCssClass: match.gameInfoClass(), tooltip: {titleKey: match.gameInfo()}">
                <i data-bind="visible: match.gameInfoClass()" style="margin-right: 10px;" class="fa fa-tag"></i>
                <span data-bind="text: match.gameName()"></span>
            </span>
            <small style="margin-left:10px;"><span data-bind="text: match.location()"></span></small>
        </h1>

    </section>

    <!-- panel group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- times -->
        <!-- ko panel: {
                    isOpenByDefault: false,
                    headerIcon: 'fa-clock-o',
                    headerButtons: [
                        { tooltipKey: 'common.details', clickBubble: true, click: null, icon: 'fa-bars'},
                        {
                            tooltipKey: 'scorer.finishMatch',
                            clickBubble: false,
                            click: finishMatchClick.bind($root),
                            icon: 'fa-stop'
                        },
                        {
                            tooltipKey: 'scorer.unpause',
                            clickBubble: false,
                            click: pauseToggle.bind($root),
                            icon: 'fa-play',
                            visible: match.paused()
                        },
                        {
                            tooltipKey: 'scorer.pausePhase',
                            clickBubble: false,
                            click: pauseToggle.bind($root),
                            icon: 'fa-pause',
                            visible: match.unpaused()
                        }
                    ],
                    buttons: [{ titleKey: 'scorer.finishMatch', enable: match.unpaused(), click: finishMatchClick.bind($root) }]
                }-->

            <a data-part="header-text">
                <strong data-bind="text: $parent.match.totalTime()"></strong>
                (<span data-bind="text: $parent.match.ongoingPhase().name"></span>)
            </a>
            <div data-part="body" class="row">
                <!-- ko foreach: $parent.match.completedPhases -->
                <section class="col-sm-4 col-xs-6 col-md-3">
                    <section class="well finished-phase match-phase">
                        <strong data-bind="text: name"></strong>
                        <h3 data-bind="text: time"></h3>
                    </section>
                </section>
                <!-- /ko -->
                <div class="col-sm-4 col-xs-6 col-md-3"
                     data-bind="hub: {
                                    actionTextKey: $parent.match.paused() ? 'scorer.unpause' : 'scorer.nextPhase',
                                    action: $parent.match.paused() ? $parent.pauseToggle : $parent.matchPhaseStart }">
                    <div data-part="content" class="match-phase">
                        <strong data-bind="text: $root.match.ongoingPhase().name"></strong>
                        <h3 data-bind="text: $root.match.ongoingPhase().time"></h3>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 col-md-3" data-bind="hub: {actionTextKey: $parent.match.paused() ? 'scorer.unpause' : 'scorer.pausePhase', action: $parent.pauseToggle }">
                    <div data-part="content" class="match-phase">
                        <strong data-i18n="scorer.totalTime"></strong>
                        <h3 data-bind="text: $root.match.totalTime()"></h3>
                    </div>
                </div>
            </div>
        <!-- /ko -->
        <!-- end times -->
        <!-- players -->
        <!-- ko panel: {
                    titleKey: 'scorer.players',
                    buttons: [
                        { titleKey: 'scorer.chooseFirstPlayer', click: setFirstPlayer.bind($root), columnClass: 'col-sm-6' },
                        { titleKey: 'scorer.chooseRandomPlayer', click: getRandomBuddy.bind($root), columnClass: 'col-sm-6' }
                    ]
                }-->
            <div data-part="body">
                <section class="row">
                    <div class="col-xs-12">
                        <a data-bind="if: $parent.suggestBuddiesFlag(), click: $parent.selectSuggestedBuddies.bind($parent)">
                            <small data-i18n="scorer.suggestBuddies" />
                            <small data-bind="foreach: $parent.buddySuggestion" >
                                <span data-bind="text: $data.name, visible: $data.name" />
                                <span data-i18n="scorer.me" data-bind="visible: $data.isUser" />
                                <span data-i18n="scorer.unknown" data-bind="visible: $data.isAnonymous" />
                            </small>
                        </a>
                        <small>
                            <a  style="margin-left: 30px"
                                data-bind="if: $parent.suggestBuddiesFlag(), click:$parent.dismissSuggestedBuddies.bind($parent)"
                                data-i18n="common.noThanks" />
                        </small>
                    </div>
                </section>
                <section class="row">
                    <!-- ko foreach: $parent.match.players -->
                        <section class="col-sm-3 col-xs-6" data-bind="hub: {actionTextKey: 'common.remove', action: $root.removePlayer.bind($root), data: $data}">
                            <section data-part="content">
                                <i class="fa fa-tag fa-2x iconcolor" data-bind="visible: data.isFirst, tooltip: {titleKey:'scorer.firstPlayer'}" style="float: right; margin-right: 10px"></i>
                                <h3 class="name-overflow" data-bind="text: data.name, visible: data.name"></h3>
                                <h3 class="name-overflow" data-bind="visible: data.isAnonymous"><em data-i18n="scorer.unknown"></em></h3>
                                <h3 class="name-overflow" data-bind="visible: data.isUser" data-i18n="scorer.me"></h3>
                                <!-- ko if: $data._id-->
                                <p data-bind="$data._id"></p>
                                <!-- /ko -->
                            </section>
                        </section>
                    <!-- /ko -->
                    <section class="col-sm-2  col-xs-4" data-bind="hub: {action: $root.addPlayerDialog.bind($root)}">
                        <form data-part="content" class="addItem">
                            <i class="fa fa-plus fa-2x"></i>
                        </form>
                    </section>
                </section>
            </div>
        <!-- /ko -->
        <!-- end players -->
    </div>

</section>