<section class="module container-fluid">
    <section class="page-header">
        <h1 data-bind="text: name"></h1>
    </section>
    <div class="row">
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'scorer.seeAllMatches', action: viewMatches}">
            <div data-part="content">
                <h3 data-i18n="scorer.matches"></h3>
            </div>
        </div>
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'event.viewLibrary', action: viewLibrary}">
            <div data-part="content">
                <h3 data-i18n="event.library"></h3>
            </div>
        </div>
        <div class="col-sm-6" data-bind="hub: {actionTextKey: 'event.showParticipants', action: showParticipants}">
            <div data-part="content">
                <h3 data-i18n="event.participants"></h3>
            </div>
        </div>
    </div>
</section>