<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="event.library"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div class="row">
        <div class="col-sm-12"><button type="button" data-bind="click: gotoEventOverview" class="options btn btn-primary" ><i class="fa fa-arrow-left"></i> <span data-i18n="event.goToEvent"></span></button></div>
    </div>

    <div data-bind="searchList: {
                        data: games(),
                        selectCallback: selectGame,
                        searchById: true,
                        searchCustomFields: true,
                        showId: true,
                        idOffset: 1000000000,
                        idField: 'code'
                        }">
        <div data-part="item-template">
        </div>

    </div>
</section>