<section class="module container-fluid">
    <section class="page-header">
        <h1><span data-i18n="event.participants"></span> <small data-bind="text: name"></small></h1>
    </section>
    <div data-bind="searchList: {
                        data: participants(),
                        selectCallback: select,
                        searchById: true,
                        showId: true,
                        nameField: 'participantName',
                        idField: 'participantCode'
                        }">

        <div data-part="item-template">
        </div>
    </div>
</section>