<div style="background-color: cornflowerblue; padding: 20px; border-radius: 15px;">
    <div >
        <% for(var c in content) { %>
        <span  style="color: #F5F5DC;"><%- content[c] %></span><br />
        <% } %>
        <br />
    </div>
    <div >

        <b style="color: #F5F5DC;">bgBuddy  </b>
        <small style="color: #F5F5DC;">www: <a href="www.bgbuddy.com">bgbuddy.com</a></small>
        <small style="color: #F5F5DC;">fb: <a href="www.bgbuddy.com">facebook/bgBuddy</a></small>
        <small style="color: #F5F5DC;">t: <a href="www.bgbuddy.com">twitter/bgBuddy</a></small>

        <br />
        <small  style="color: #F5F5DC;">This e-mail was sent to you by bgBuddy user <em><%- user %></em></small>
    </div>

</div>