<div style="background-color: cornflowerblue; padding: 20px; border-radius: 15px; color: #F5F5DC;">
    Dear <%- user%>,
    <br> <!-- Content goes here -->
    Here is the list of all users on bgBuddy created with your email:<br>
    <% for(var u in usernames) { %>
        <%- usernames[u] %><br>
    <% } %>
    <br>
    Your bgBuddy team

    <br><br> <!-- leave some space before footer -->
    <div > <!-- signature footer -->

        <b style="color: #F5F5DC;">bgBuddy  </b>
        <small style="color: #F5F5DC;">www: <a href="www.bgbuddy.com">bgbuddy.com</a></small>
        <small style="color: #F5F5DC;">fb: <a href="www.bgbuddy.com">facebook/bgBuddy</a></small>
        <small style="color: #F5F5DC;">t: <a href="www.bgbuddy.com">twitter/bgBuddy</a></small>

        <br />
        <small>This e-mail was sent to you because you (or someone else, by providing your email) requested your usernames.</small><!-- disclaimer-->

    </div>

</div>