<div style="background-color: cornflowerblue; padding: 20px; border-radius: 15px; color: #F5F5DC;">
    Dear <%- user%>,
    <br><br>Welcome to bgBuddy!
    <br>Please confirm your e-mail address by clicking on the link below:
    <br><a href="www.bgbuddy.com/confirm.html?code=<%= confirmationCode %>&view=confirm">Click to confirm your email!</a>
    <br><br>Regards,
    <br>Your bgBuddy team<br /><br />

    <div >

        <b style="color: #F5F5DC;">bgBuddy  </b>
        <small style="color: #F5F5DC;">www: <a href="www.bgbuddy.com">bgbuddy.com</a></small>
        <small style="color: #F5F5DC;">fb: <a href="www.bgbuddy.com">facebook/bgBuddy</a></small>
        <small style="color: #F5F5DC;">t: <a href="www.bgbuddy.com">twitter/bgBuddy</a></small>

        <br />
        <small>This e-mail was sent to you because you or someone else signed up at www.bgbuddy.com using your e-mail. If you didn't do this, just ignore this e-mail.</small>

    </div>

</div>