<div class="messageBox modal-content autoclose">
    <div class="modal-header">
        <h3 data-bind="text: title"></h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group well" data-bind="visible: !isDate && !isDropdown">
                <label for="textField" data-bind="text: label"></label>
                <input type="text" class="form-control" id="textField" data-bind="value: value, attr: {placeholder: placeholder}" />
            </div>
            <!-- ko if: isDate-->
            <div class="form-group well">
                <label for="dateField" data-bind="text: label"></label>
                <div id="dateField" data-bind="dateTimePicker: {
                                            value: value,
                                            placeholderKey: placeholderKey
                                            }" ></div>
            </div>
            <!-- /ko -->
            <!-- ko if: isDropdown-->
            <div class="form-group well">
                <label for="dropdown" data-bind="text: label">></label>
                <select class="form-control" id="dropdown"
                        data-bind="options: options,
                                   optionsText: 'name',
                                   value: value,
                                   optionsCaption: optionsCaption">
                </select>
            </div>
            <!-- /ko -->
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok" data-i18n="common.ok"></button>
        <button class="btn " data-bind="click: cancel" data-i18n="common.cancel"></button>
    </div>
</div>