<div class="messageBox modal-content">
    <div class="modal-header">
        <h3 data-i18n="login.login"></h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="username" data-i18n="login.username"></label>
                <input type="text" class="form-control" id="username" data-i18n="[placeholder]login.enterUsername" data-bind="value: username">
            </div>
            <div class="form-group">
                <label for="password" data-i18n="login.password"></label>
                <input type="password" class="form-control" id="password" data-i18n="[placeholder]login.enterPassword" data-bind="value: password">
            </div>
            <div class="form-group">
                <label for="remember_me" data-i18n="login.rememberMe"></label>
                <input type="checkbox" id="remember_me" data-bind="switch: {value: rememberMe, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}}">
            </div>
            <button class="btn btn-default" data-bind="click: login, disable: actionPending" data-i18n="login.login"></button>
            <a class="pull-right" data-bind="click: loginProblems">Problems with login?</a>
            <div class="signUpBtn">
                Would you like to join the bgBuddy community? <a data-bind="click: signUp, disable: actionPending" data-i18n="signUp.signUp"></a>
            </div>
            <div id="gp_signin" data-bind="gPlusSigninButton: {signinCallback: googleSignIn}"></div>
            <div id="fb_signin" data-bind="fbSigninButton: {signinCallback: facebookSignIn}"></div>
        </form>
    </div>
</div>