<div class="form-group">
    <div class='input-group date'>
        <input type='text' class="form-control"/>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>