    <div data-bind="visible: !isEditing()" class="row">
        <!-- ko if: !noTitle -->
        <div class="col-xs-6" >
            <!-- ko if: icon -->
            <i class="fa iconcolor" data-bind="addCssClass: icon" style="margin-right: 10px"></i>
            <!-- /ko -->
            <span data-bind="text: title"></span>:
        </div>
        <!-- /ko -->
        <div class="col-xs-6" data-bind="if: !isBoolean, css: {'col-xs-6': !noTitle, 'col-xs-12': noTitle}">
            <!-- ko if: icon && noTitle -->
            <i class="fa iconcolor" data-bind="addCssClass: icon" style="margin-right: 10px"></i>
            <!-- /ko -->
            <!-- ko if: showValue && isBold -->
            <strong data-bind="text: showValue"></strong>
            <!-- /ko -->
            <!-- ko if: showValue && isItalic -->
            <em data-bind="text: showValue"></em>
            <!-- /ko -->
            <!-- ko if: showValue && !isItalic && !isBold -->
            <span data-bind="text: showValue"></span>
            <!-- /ko -->
            <!-- ko if: !showValue && showNotSet && !isBoolean -->
            (<span data-bind="i18n: {key: notSetKey}"></span>)
            <!-- /ko -->
            <!-- ko if: showValue || showNotSet -->
            &nbsp;&nbsp;
            <!-- /ko -->
            <small><a data-i18n="common.change" data-bind="i18n: {key: changeKey}, click: startChange"></a></small>
        </div>
        <div class="col-xs-6 boolean-switch" data-bind="if: isBoolean">
            <input type="checkbox" data-bind="switch: {value: value, options: {onTextLabel: 'common.yes', offTextLabel:'common.no'}, onChange: onSwitchChange}"/>
        </div>
    </div>
    <div data-bind="visible: isEditing()" class="input-group">
        <span class="input-group-addon">
            <!-- ko if: icon -->
            <i class="fa iconcolor" data-bind="addCssClass: icon" style="margin-right: 10px"></i>
            <!-- /ko -->
            <!-- ko if: !noTitle -->
            <span data-bind="text: title"></span>
            <!-- /ko -->
        </span>
        <input type="text" class="form-control" data-bind="value: value, valueUpdate: 'keyup', attr: { placeholder: placeholder }, onLostFocus: cancelEditing, hasFocus: isSelected" />
        <span class="input-group-btn">
            <button class="btn btn-default" data-bind="event: { mousedown: endEditing }" type="button"><i class="fa fa-save"></i></button>
            <button class="btn btn-default" data-bind="click: cancelEditing" type="button"><i class="fa fa-times"></i></button>
        </span>
    </div>