<div class="well with-action hub" data-bind="click: action">
    <div data-part="content"></div>
    <!-- because action-description is positioned absolutely at the bottom
         of the hub, we need this dummy div to take up some space so action-description
         wouldn't overlap content -->
    <!-- ko if: actionTextExists -->
    <div style="height:30px"></div>
    <!-- /ko -->
    <div class="action-description" data-bind="text: actionText, visible: actionText"></div>
</div>