<div class="panel panel-default">
    <div class="panel-heading" role="tab" data-toggle="collapse" aria-expanded="true"
         data-bind="attr: {
                        id: 'heading_'+panelName,
                        href: '#collapse_'+panelName,
                        'aria-controls': 'collapse_'+panelName
                    }">
        <h4 class="panel-title">
            <!-- ko foreach: headerButtons-->
                <!-- ko if: visible -->
                <a class="pull-right header-button" data-bind="click: click, clickBubble: clickBubble">
                    <i data-bind="tooltip: {placement:'left', titleKey: tooltipKey}, addCssClass: icon" class="fa iconcolor"></i>
                </a>
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: headerIcon -->
            <i class="fa iconcolor" data-bind="addCssClass: headerIcon"></i>
            <!-- /ko -->
            <a data-part="header-text">
                <strong data-bind="i18n: {key: titleKey}"></strong>
            </a>
        </h4>
    </div>
    <div class="panel-collapse collapse" role="tabpanel"
         data-bind="css: {in: isOpenByDefault},
                    attr: {
                        id: 'collapse_'+panelName,
                        'aria-labelledby': 'heading_'+panelName
                    }">
        <div class="panel-body">
            <section class="row" data-bind="foreach: buttons">
                <div data-bind="addCssClass: $data.columnClass ? $data.columnClass : 'col-xs-12'" >
                    <button type="button" class="options btn btn-primary" data-bind="enable: enable, click: $data.click, i18n: {key: $data.titleKey}"></button>
                </div>
            </section>
            <div data-part="body"></div>
        </div>
    </div>
</div>