<div class="table-responsive score-table-wrapper" >
    <table id="scores" class="table score-table table-striped" data-bind="freezeColumn">
        <thead><td data-i18n="scorer.player"></td><td data-i18n="scorer.result"></td><td data-i18n="scorer.rank"></td><td data-i18n="scorer.winner"></td></thead>
        <tbody data-bind="foreach: players">
        <tr>
            <td class="score-table-name">
                <div data-part="participantName">
                    <span data-bind="text: participant[$parent.nameField]"></span>
                </div>
            </td>
            <td>
                <!-- ko scoreField: {score: result} -->
                <!-- /ko -->
            </td>
            <td>
                <button
                        type="button"
                        class="btn btn-primary wide"
                        data-bind="toggleValuesButton: {
                                                currentValue: rank,
                                                values: $parent.positions,
                                                notSetKey: 'scorer.selectRank'}"></button>
            </td>
            <td>
                <button
                        type="button"
                        class="btn btn-primary wide"
                        data-bind="toggleButton: {
                                                checked: winner,
                                                checkedKey: 'scorer.winner',
                                                uncheckedKey: 'scorer.loser',
                                                toggledClass: 'btn-success' }"></button>

            </td>
            <!-- ko if: $parent.selectCallback != null -->
            <td>
                <button type="button" class="btn btn-primary wide" data-bind="click: $parent.invoke, i18n: {key: $parent.selectKey}"></button>
            </td>
            <!-- /ko -->
        </tr>
        </tbody>
    </table>
</div>