<span class="score-field">
    <button type="button" class="btn btn-primary score-button" data-bind="addButton: {target: score, value: largeDecrease}, text: largeDecrease"></button>
    <button type="button" class="btn btn-primary score-button" data-bind="addButton: {target: score, value: smallDecrease}, text: smallDecrease"></button>
    <div class="score" data-bind="text: score"></div>
    <button type="button" class="btn btn-primary score-button" data-bind="addButton: {target: score, value: smallIncrease}">+<span data-bind="text: smallIncrease"></span></button>
    <button type="button" class="btn btn-primary score-button" data-bind="addButton: {target: score, value: largeIncrease}">+<span data-bind="text: largeIncrease"></span></button>
</span>