<!-- ko if: (data() && data().length > 0) -->
<div class="row" data-bind="foreach: filters">
    <div data-bind="addCssClass: $parent.customFilterItemClass">
        <button data-bind="i18n: {key: titleKey}, click: $parent.filterSelected, css: {'btn-info': !$data.isShowAll, 'btn-default': !!$data.isShowAll}"
                type="button" class="btn options"  style="margin-bottom: 5px;margin-right: 2px" />
    </div>
</div>
<!-- /ko -->

<form class="form-horizontal" role="form">
    <div class="row" style="margin-bottom: 10px;">
        <div data-bind="css: { 'col-xs-10': addItemButtonVisible, 'col-sm-11': addItemButtonVisible, 'col-xs-12': !addItemButtonVisible}">
            <div data-bind="css: {'input-group': searchString()}">
                <input type="text" class="form-control" data-i18n="[placeholder]common.search" data-bind="value: searchString, valueUpdate: 'keyup'">
                <!-- ko if: searchString() -->
                <span class="input-group-btn">
                    <button class="btn btn-default" data-bind="click: clearFilter, tooltip: {placement:'left', titleKey: 'common.showAll'}" type="button"><i class="fa fa-times"></i></button>
                </span>
                <!-- /ko -->
            </div>
        </div>
        <!-- ko if: addItemButtonVisible -->
        <div class="col-xs-2 col-sm-1">
            <button data-bind="click: addItemButtonCallback, tooltip: {placement:'left', titleKey: 'common.addNewItem'}"
                    type="button" class="btn btn-primary options"  style="margin-bottom: 5px;margin-right: 2px"><i class="fa fa-file"></i></button>
        </div>
        <!-- /ko -->
    </div>

</form>

<div class="row" data-bind="foreach: data">
    <!-- ko if: $data.show() -->
    <div class="col-sm-6" data-bind="hub: {actionTextKey: $parent.selectKey, action: $parent.select, data: $data, context: $parent}">
        <div data-part="content">
            <h3><span data-bind="text: data[context.nameField]"></span> <small data-bind="text: data[context.idField], visible: context.showId"></small></h3>
            <div data-part="item-template"></div>
        </div>
    </div>
    <!-- ko if: $data.counter() % 2 == 0 -->
    <div class="clearfix hidden-xs"></div>
    <!-- /ko -->
    <!-- /ko -->
</div>

 <div class="row">
     <div class="col-xs-12" data-bind="visible: showMoreButtonFlag()">
         <button type="button" data-bind="click: fetchMore"  data-i18n="searchList.fetchMore" class="btn btn-primary" style="float: left; margin-bottom: 5px; width:100%"><i class="fa"></i></button>
     </div>
</div>

