<div id="shell">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">
                    <i class="fa fa-home"></i>
                    <span data-i18n="app.name"></span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
                <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                    <li data-bind="css: { active: routerGroup == $parent.currentRouterGroup() }">
                        <a data-bind="attr: { href: hash }, html: title"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="#" data-bind="click: viewMessages"><span data-i18n="msg.newMessages" /> <span class="badge" data-bind="text: newMessages, css: {'bckgrndcolor': newMessages()>0}"></span></a></li>
                    <li data-bind="visible: userVisible"><a href="#" data-bind="click: logout"><span data-i18n="login.logout"></span> (<span data-bind="text: username"></span>) </a> </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="msgWrapper" class="container" data-bind="foreach: messages">
        <div id="module-message" class="alert alert-dismissible" role="alert" data-bind="css: type, dismissAlert: timeout">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

            <span data-bind="html: text"></span> <!-- ribica changed data-bind="text:... to data-bind="html:... consequences unknown.  -->
            <div data-bind="if: details">

                <button class="btn btn-primary" data-toggle="collapse" data-bind="attr: {href: '#' + detailsDOMId}" data-i18n="common.details"></button>
                <div class="panel-collapse collapse" data-bind="attr: {id: detailsDOMId}">
                    <div data-bind="text: details"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- ko if: showCookieDisclaimer() -->
    <div id="cookieWrapper" class="container">
        <div id="module-cookie" class="alert alert-dismissible alert-warning" role="alert" >

            <span data-i18n="cookies.disclaimer"></span>
            <br />
            <a data-bind="click: cookiesShowDetails" data-i18n="cookies.findOutMore" style="text-decoration: underline;"></a>
            <a data-bind="click: cookiesApproved" data-i18n="cookies.ok" style="text-decoration: underline; float: right;"></a>
        </div>
    </div>

    <!-- /ko -->

    <main class="page-host" data-bind="router: { transition:'slide' }"></main>

    <div class="shell-spinner">
        <!-- ko if: router.isNavigating() || isSpinning()-->
        <i class="fa fa-spinner fa-2x fa-spin active iconcolor"></i>
        <!-- /ko -->
    </div>
</div>